<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<title>정식품 채용</title>
<head th:replace="fragments/head :: headFragment"></head>
<body>
	<div class="wrap">
		<!-- ================================ Header ================================ -->
		<header class="subColor" th:replace="fragments/mainHeader :: headerFragment"></header>
		<!-- ================================ // Header ================================ -->
		<!-- ================================ Content ================================ -->
		<section>
			<div class="container100">
				<div class="nav">
					<div class="container1300 center">
						<a href="#"><span class="round">HOME</span></a><img class="arrow" th:src="@{/img/arrow.png}" alt="화살표" /><a href="#"><span class="round">마이페이지</span></a>
					</div>
				</div>
				<div class="container1660 center" >
					<div class="memberWrap">
						<div class="row">
							<div class="col-lg-12 text-center">
							<form th:action="@{/member/loginProc}" method="post" onsubmit="return loginCheck();">
								<p class="f36 fw600">로그인</p>
								<!-- 입력 error시 
								<p class="mt60"><input class="memType01 error" type="text" placeholder="이름"></p>
								<p class="error"><img th:src="@{/img/error.png}"> 항목명을 정확히 입력해 주세요</p>
								<!-- //입력 error시 -->
								<p class="mt60"><input class="memType01" id="txtEmail" name="username" type="text" placeholder="이메일"></p>
								<p class="error" id="emailCheck" style="display: none;"><img th:src="@{/img/error.png}"> 이메일은 필수 입력값입니다.</p>
								<p class="error" id="emailMatch" style="display: none;"><img th:src="@{/img/error.png}"> 잘못된 이메일 형식입니다. 이메일을 정확하게 입력해주세요.</p>
								<p class="mt10"><input class="memType01 pw" id="txtPw" name="password" type="password" placeholder="비밀번호" ></p>
								<p class="error" id="pwCheck" style="display: none;"><img th:src="@{/img/error.png}"> 비밀번호는  필수 입력값입니다.</p>
								<div align="center" th:if="${param.error}">
					                <p class="error"><img th:src="@{/img/error.png}">아이디 패스워드가 올바르지 않거나 비활성화된 회원입니다.</p>
					            </div>
								<button type="submit" id="loginBtn" disabled="disabled" class="btnType01 mt20" >로그인</button>
								<!-- 개발확인 
								<div class="btnType01 active mt20"><a href="mypage_list.html">로그인</a></div>
								<p style="border:2px dashed red;padding:10px; background:yellow; text-align:left; line-height:140%">[전산] 이름, 이메일, 비밀번호 입력시 active 버튼 적용해주세요</p>
								-->
								<p class="memInfo">혹시 지원이 처음이신가요? <a href="/member/join"><span>신규입사자 등록</span></a></p>
								<p class="memInfo">이메일 잊어버리셨나요? <a href="/member/emailSearch"><span>이메일 찾기</span></a></p>
								<p class="memInfo">비밀번호를 잊어버리셨나요? <a href="/member/passwordSearch"><span>비밀번호 찾기</span></a></p>
							</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ================================ 
				// Content
		================================ -->
	</div><!-- //wrap bg_01 -->

<!-- ================================ Footer ================================ -->
<footer class="container100 center bgGray" th:replace="fragments/mainFooter :: footerFragment"></footer>
<!-- ================================ // Footer ================================ -->
<script th:inline="javascript">
/*<![CDATA[*/
	
//이메일 정규식
$('#txtEmail').keyup(function () {
	
	var sEmail = $('#txtEmail').val();
	var sPw = $("#txtPw").val();
	
	if ($.trim(sEmail).length == 0) {
		$("#emailMatch").css('display', 'none');
		$("#emailCheck").css('display', 'inline-block');
		$("#txtEmail").addClass('error');
	} else {
		if (validateEmail(sEmail)) {
			$("#emailMatch").css('display', 'none');
			$("#txtEmail").removeClass('error');
		} else {
			$("#emailCheck").css('display', 'none');
			$("#emailMatch").css('display', 'inline-block');
			$("#txtEmail").addClass('error');
		}
		//$("#emailCheck").css('display', 'none');
	}
	
	if(validateEmail(sEmail) && $.trim(sPw).length != 0) {
		$("#loginBtn").attr("disabled", false); //해제
		$("#loginBtn").addClass('active');
	} else {
		$("#loginBtn").attr("disabled", true); //설정
		$("#loginBtn").removeClass('active');
	}
	 
});

function validateEmail(sEmail) {
	var filter = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
	
	if (filter.test(sEmail)) {
		return true;
	} else {
		return false;
	}
}

$('#txtPw').keyup(function () {
	
	var sEmail = $('#txtEmail').val();
    var sPw = $("#txtPw").val();

    if ($.trim(sPw).length == 0) {
		$("#pwCheck").css('display', 'inline-block');
		$("#txtPw").addClass('error');
	} else {
		$("#pwCheck").css('display', 'none');
		$("#txtPw").removeClass('error');
	}
    
    if(validateEmail(sEmail) && $.trim(sPw).length != 0) {
		$("#loginBtn").attr("disabled", false); //해제
		$("#loginBtn").addClass('active');
	} else {
		$("#loginBtn").attr("disabled", true); //설정
		$("#loginBtn").removeClass('active');
	}
    
});

function loginCheck() {
    
  	//이메일 공백 확인
    if($("#txtEmail").val() == ""){
      alert("이메일을 입력해주세요");
      $("#txtEmail").focus();
      return false;
    }

    //비밀번호 공백 확인
    if($("#txtPw").val() == ""){
      alert("패스워드를 입력해 주세요");
      $("#txtPw").focus();
      return false;
    }
	
	return true;
}
	
/*]]>*/
</script>
</body>
</html>