<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
	layout:decorator="admin/layout/dataLayout">
	
	<th:block layout:fragment="title">
		<title>채용 관리</title>
	</th:block>
	
	<th:block layout:fragment="add-css">
		<!-- BEGIN: Page CSS-->		
		<link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/plugins/forms/pickers/form-pickadate.css}">
	    <link rel="shortcut icon" type="image/x-icon" th:href="@{/app-assets/images/ico/favicon.ico}">
	    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/recruit2022.css}">
		<link rel="stylesheet" th:href="@{https://fonts.gstatic.com}">
		<link rel="stylesheet" type="text/css" th:href="@{https://fonts.googleapis.com/css2?family=Inconsolata&amp;family=Roboto+Slab&amp;family=Slabo+27px&amp;family=Sofia&amp;family=Ubuntu+Mono&amp;display=swap}">
	    <!-- END: Page CSS-->
	</th:block>
	
	<!-- BEGIN: Page Vendor JS-->
	<th:block layout:fragment="add-script">
	    <script th:src="@{/app-assets/vendors/js/forms/repeater/jquery.repeater.min.js}"></script>
	    <script th:src="@{/app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js}"></script>
	    
	    <script th:src="@{/app-assets/js/scripts/pages/app-invoice.js}"></script>
	    <script th:src="@{/app-assets/js/scripts/forms/pickers/form-pickers.js}"></script>

	    <script th:src="@{/app-assets/vendors/js/extensions/sweetalert2.all.min.js}"></script>
	    
	    <script th:src="@{/app-assets/vendors/js/tables/datatable/jquery.dataTables.min.js}"></script>
	    <script th:src="@{/app-assets/vendors/js/tables/datatable/dataTables.bootstrap5.min.js}"></script>
	    <script th:src="@{/app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js}"></script>
	    <script th:src="@{/app-assets/vendors/js/tables/datatable/responsive.bootstrap4.js}"></script>
	    <script th:src="@{/app-assets/vendors/js/tables/datatable/datatables.checkboxes.min.js}"></script>
	    <script th:src="@{/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js}"></script>
	    <script th:src="@{/app-assets/vendors/js/tables/datatable/jszip.min.js}"></script>
	    <script th:src="@{/app-assets/vendors/js/tables/datatable/pdfmake.min.js}"></script>
	    <script th:src="@{/app-assets/vendors/js/tables/datatable/vfs_fonts.js}"></script>
	    <script th:src="@{/app-assets/vendors/js/tables/datatable/buttons.html5.min.js}"></script>
	    <script th:src="@{/app-assets/vendors/js/tables/datatable/buttons.print.min.js}"></script>
	    <script th:src="@{/app-assets/vendors/js/tables/datatable/dataTables.rowGroup.min.js}"></script>
	    
	    <script th:src="@{/common/js/admin/recruit/qnaList.js}"></script>
	    <script th:src="@{/common/js/admin/common/jquery.serializeObject.min.js}"></script>
	    <script th:src="@{/common/js/admin/common/common.js}"></script>

	    <script th:inline="javascript">
	    	/*<![CDATA[*/
			$(document).ready(function() {
				
			});
			/*]]>*/
 	    </script> 
    </th:block>
    <!-- END: Page Vendor JS-->
	

	<th:block layout:fragment="content">
	<!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-start mb-0">1:1문의 리스트</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#">채용</a>
                                    </li>
                                    <li class="breadcrumb-item active">1:1문의 리스트</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
            <div class="content-body">
                <!-- Analytics card section -->
                <form name="frm" id="frm">
	                <section id="analytics-card">
						 <div class="row">
							<!-- 조회 -->
							<div class="col-md-12 col-12">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title">조회</h4>
									</div>
									<div class="card-body">
										<div class="row mb-1">
											<div class="col-md-1 col-12">
												등록일
											</div>
	
											<div class="col-md-4 col-12">
	                                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
	                                                <input type="radio" class="btn-check" name="btnradio1" id="btnradio1-1" onclick="javascript:selInsertDate(0);" autocomplete="off" checked />
	                                                <label class="btn btn-outline-primary" for="btnradio1-1">오늘</label>
	
	                                                <input type="radio" class="btn-check" name="btnradio1" id="btnradio1-2" onclick="javascript:selInsertDate(1);" autocomplete="off" />
	                                                <label class="btn btn-outline-primary" for="btnradio1-2">1개월</label>
	
	                                                <input type="radio" class="btn-check" name="btnradio1" id="btnradio1-3" onclick="javascript:selInsertDate(2);" autocomplete="off" />
	                                                <label class="btn btn-outline-primary" for="btnradio1-3">3개월</label>
	
													<input type="radio" class="btn-check" name="btnradio1" id="btnradio1-4" onclick="javascript:selInsertDate(3);" autocomplete="off" />
	                                                <label class="btn btn-outline-primary" for="btnradio1-4">6개월</label>
	
													<input type="radio" class="btn-check" name="btnradio1" id="btnradio1-5" onclick="javascript:selInsertDate(4);" autocomplete="off" />
	                                                <label class="btn btn-outline-primary" for="btnradio1-5">1년</label>
	                                            </div>
											</div>
											<div class="col-md-3 col-12">
												<input type="text" id="fp-range" class="form-control flatpickr-range" placeholder="YYYY-MM-DD to YYYY-MM-DD" />
											</div>
										</div>
										<div class="row mb-1 ">
											<div class="col-md-1 col-12">구분</div>
											<div class="col-md-4 col-12">																										
												<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
	                                                <input type="radio" class="btn-check" name="status" id="btnradio2-1" value="" autocomplete="off" checked />
	                                                <label class="btn btn-outline-primary" for="btnradio2-1">전체</label>
	
	                                                <input type="radio" class="btn-check" name="status" id="btnradio2-2" value="0" autocomplete="off" />
	                                                <label class="btn btn-outline-primary" for="btnradio2-2">공개</label>
	
	                                                <input type="radio" class="btn-check" name="status" id="btnradio2-3" value="1" autocomplete="off" />
	                                                <label class="btn btn-outline-primary" for="btnradio2-3">비공개</label>
	
	                                            </div>
											</div>
											<div class="col-md-1 col-12">채용기수선택</div>
											<div class="col-md-2 col-12">																										
												<select class="form-select" id="sTh" name="sTh">
													<option value="">선택</option>
														<th:block th:if="${recruitList !=null}" th:each="recruitList : ${recruitList}">
		                                            	<option th:value="${recruitList.sTh}">[[${recruitList.sTh}]]</option>
		                                            </th:block>
												</select>
											</div>
										</div>
										<div class="row mb-1">
											<div class="col-md-1 col-3">
												상세검색
											</div>
											<div class="col-md-4 col-4">
												<input type="text" id="searchWord" class="form-control" name="searchWord" placeholder="제목, 본문에 포함된 된어를 입력하세요" />
											</div>
										</div>
										<hr />
										<div class="row">
											 <div class="col-sm-12">
												<button type="button" onclick="javascript:createTable();" class="btn btn-primary me-1">조회</button>
												<button type="reset" class="btn btn-outline-secondary">초기화</button>
												<input type="hidden" class="form-control" name="sStartdate" id="sStartdate" value=""/>
												<input type="hidden" class="form-control" name="sEnddate" id="sEnddate" value=""/>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- //조회 -->
	                    </div>
	                </section>
	            </form>
                <!--/ Analytics Card section -->

				<!-- 1:1문의리스트 -->
				
				<form id="form" name="form" method="POST">
					<section id="basic-horizontal-layouts">
						<div class="row" >
							<div class="col-12">
								<div class="card">								
<!-- 									<div class="card-body text-md-end"> -->
<!-- 										<div class="row mb-1 text-left"> -->
<!-- 											<div class="col-md-2 col-12"> -->
<!-- 	                                            <h4 class="card-title">1:1 글 목록</h4> -->
<!-- 											</div> -->
<!-- 										</div> -->
										
<!-- 									</div> -->
									<div class="table-responsive">
										<table class="datatables-basic table table-bordered text-center listTable paddingType" id="dataTables">
											<colgroup>
	
												<col width="7%">
												<col width="6%">
												<col width="10%">
												<col width="10%">
												<col width="10%">
												
												<col width="*%">
												<col width="7%">
												<col width="12%">
											
	
											</colgroup>
											<thead>
												<tr>
													<th>No.</th>
													<th>선택</th>
													<th>답변하기</th>
													<th>답변상태</th>
													<th>문의회사</th>
													<th>제목</th>
													<th>이름</th>
													<th>등록일시</th>
													
												</tr>
											</thead>
										</table>
									</div>
	
	
								</div>
							</div>
						</div>
	                </section>
	            </form>
				<!-- //FAQ리스트 -->

				
            </div>
        </div>
    </div>
    <!-- END: Content-->
    
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>
    
    </th:block>
    
</html>