<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vegemil.mapper.MemberMapper">

	<sql id="memberColumns">
		  mem_no
		, mem_name
		, sex
		, birthday
		, password
		, active
		, auth
		, email_addr
		, phone_no
		, sleep_yn
		, join_date
		, pwd_modify_date
		, last_login_date
		, active_date
		, ad_agree_date
		, sleep_date
	</sql>

	<insert id="saveMember" parameterType="com.vegemil.domain.MemberDTO" useGeneratedKeys="true" keyProperty="memNo">
		INSERT INTO m_recruit_member (
			  mem_name
			, birthday
			, password
			, active
			, auth
			, email_addr
			, phone_no
			, sleep_yn
			, join_date
		) VALUES (
			  #{memName}
			, #{birthday}
			, #{password}
			, 0
			, #{auth}
			, #{emailAddr}
			, #{phoneNo}
			, 0
			, NOW()
		)
	</insert>

	<select id="getMemberAccount" parameterType="String" resultType="com.vegemil.domain.MemberDTO">
		SELECT
			<include refid="memberColumns" />
		FROM
			m_recruit_member
		WHERE
			SLEEP_YN = '0'
		AND
			email_addr = #{emailAddr}
	</select>
	
	<update id="activeMember" parameterType="com.vegemil.domain.MemberDTO">
		UPDATE m_recruit_member
		SET
			  active_date = NOW()
			, active 	  = 1
		WHERE
			email_addr = #{emailAddr}
	</update>

	<update id="updateMemPwd" parameterType="com.vegemil.domain.MemberDTO">
		UPDATE m_recruit_member
		SET
			  pwd_modify_date = NOW()
			, password = #{password}
		WHERE
			email_addr = #{emailAddr}
	</update>

	<select id="selectMemberList" parameterType="com.vegemil.domain.MemberDTO" resultType="com.vegemil.domain.MemberDTO">
		SELECT
			<include refid="memberColumns" />
		FROM
			m_recruit_member
		WHERE
			SLEEP_YN = '0'
		ORDER BY
			INSERT_DATE ASC
	</select>
	
	<select id="selectMemberCount" parameterType="com.vegemil.domain.MemberDTO" resultType="int">
		SELECT
			COUNT(*)
		FROM
			m_recruit_member
		WHERE
			email_addr = #{emailAddr}
	</select>

	<select id="selectMemberTotalCount" parameterType="com.vegemil.domain.MemberDTO" resultType="int">
		SELECT
			COUNT(*)
		FROM
			m_recruit_member
		WHERE
			SLEEP_YN = '0'
	</select>

</mapper>