<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vegemil.mapper.RecruitMapper">

	<sql id="RecruitColumns">
		  s_th
		, s_title
		, s_company
		, s_type
		, DATE_FORMAT(s_startdate,'%Y.%m.%d') as s_startdate
		, DATE_FORMAT(s_enddate,'%Y.%m.%d') as s_enddate
		, s_1
		, s_2
		, s_3
		, s_category
		, s_category2
		, s_collect
		, s_close
		, s_insertdate
		, s_modifydate
		, DATEDIFF(NOW(), s_insertdate) as s_dday
	</sql>

	<insert id="insertRecruit" parameterType="com.vegemil.domain.RecruitDTO" useGeneratedKeys="true" keyProperty="memNo">
		INSERT INTO R_Setup (
			<include refid="RecruitColumns" />
		) VALUES (
			  #{sTh}
			, #{sTitle}
			, #{sType}
			, #{sCompany}
			, #{sStartdate}
			, #{sEnddate}
			, #{s1}
			, #{s2}
			, #{s3}
			, #{sClose}
			, #{sCategory}
			, #{sCategory2}
			, #{sCollect}
			, #{sinsertDate}
			, #{smodifyDate}
		)
	</insert>

	<select id="selectRecruitDetail" parameterType="long" resultType="com.vegemil.domain.RecruitDTO">
		SELECT
			<include refid="RecruitColumns" />
		FROM
			R_Setup
		WHERE
			S_CLOSE = '1'
		AND
			S_TH = #{sTh}
	</select>

	<update id="updateRecruit" parameterType="com.vegemil.domain.RecruitDTO">
		UPDATE R_Setup
		SET
			  s_title 		= #{sTitle}
			, s_type 		= #{sType}
			, s_startdate 	= #{sStartdate}
			, s_enddate 	= #{sEnddate}
			, s_1 			= #{s1}
			, s_2 			= #{s2}
			, s_3 			= #{s3}
			, s_close 		= #{sClose}
			, s_ modifydate = #{modifyDate}
		WHERE
			S_TH = #{sTh}
	</update>

	<select id="getRecruitLatest" resultType="com.vegemil.domain.RecruitDTO">
		SELECT
			<include refid="RecruitColumns" />
		FROM
			R_Setup
		WHERE
			S_CLOSE = '1'
		ORDER BY
			s_insertdate DESC
		LIMIT
			1
	</select>

	<select id="selectRecruitList" resultType="com.vegemil.domain.RecruitDTO">
		SELECT
			<include refid="RecruitColumns" />
		FROM
			R_Setup
		WHERE
			S_CLOSE = '1'
		ORDER BY
			s_insertdate ASC
	</select>

	<select id="selectRecruitTotalCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			R_Setup
		WHERE
			S_CLOSE = '1'
		<include refid="CommonMapper.search" />
	</select>

</mapper>