<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>정식품 채용</title>
    <head th:replace="fragments/head :: headFragment"></head>
</head>
<body>
	<div class="wrap bg_01 vh100">
		<!-- ================================ Header ================================ -->
		<header id="header">
			<div class="header">
				<div class="container1660 center">
					<ul class="h_menu text-left">
						<li class="h_logo ac"><a href="/" ><img th:src="@{/img/logo.png}" alt="정식품"/><span class="fw700">Careers</span></a></li>
						<li><a href="/info/info">채용안내</a></li>
						<li><a href="/info/work">인사제도</a></li>
						<li><a href="/info/benefit">복지제도</a></li>
						<li><a href="/recruit/list">입사지원</a></li>
					</ul>
					<div class="faceBox">
						<a sec:authorize="isAnonymous()" th:href="@{/member/login}"><div class="face">로그인<img th:src="@{/img/ico_face.png}" /></div></a>
					    <button type="button" sec:authorize="isAuthenticated()" onclick="location.href='/mypage/list'"><img th:src="@{/img/ico_face.png}" alt="마이페이지" title="마이페이지" /></button>
		   				<button onclick="location.href='/member/logout'" sec:authorize="isAuthenticated()" type="button"><img th:src="@{/img/ico_logout.png}" alt="로그아웃" title="로그아웃"/></button>
					</div>
				</div>
			</div>
		</header>
		<!-- ================================ // Header ================================ -->
		<!-- ================================ Content ================================ -->
		<section>
			<div class="container100 topLine">
				<div class="container1660 center">
					<div class="row">
						<div class="col-lg-6 text-left">
							<p class="mt120 speech f16 fw500"><img th:src="@{/img/ico03.png}" alt="확성기"/> 
								<span>#인류건강문화</span> &nbsp;&nbsp;&nbsp;
								<span>#믿음 &nbsp;&nbsp;&nbsp;</span>
								<span>#생명존중</span>
							</p>
							<div class="ani">
								<p class="ac f85 white text-left  line-height110 mt30 fw700">
									<span class="bottomLine">Draw</span> <span>Your Life</span><br><span class="mt20">Dr. Chung's Food</span>
								</p>
							</div>
							<ul class="ico_box mt100">
								<li><a href="/recruit/list"><img th:src="@{/img/ico01.png}" alt="지원하기"/><p class="mt10">지원하기</p></a></li>
								<li><a href="/mypage/list"><img th:src="@{/img/ico02.png}" alt="지원서 수정"/><p class="mt10">지원서 수정</p></a></li>
							</ul>
							<!-- <p class="btn_type01 f16 mt50"><a href="/account/checkResult">합격 여부 보러가기</a></p> -->
						</div>
						<div class="col-lg-6">
							<div class="main_right">
								<div class="">
									<p class="f20 fw400 white text-left mt100">채용공고</p>
									<!-- 공고가 1개일때 노출방법 -->
									<div class="roundType01 mt30" th:if="${not #lists.isEmpty( recruit )}">
										<ul th:if="${recruit.sDday} < 1">
											<li>
												<p class="f15 ac gray fw400" th:text="|${recruit.sStartdate} ~ ${recruit.sEnddate}|" ></p>
												<p class="mt10 f23 fw700"><span class="ac mr10 blue" th:text="|D-${recruit.sDday}|"></span><span th:text="${recruit.sTitle}"></span></p>
												<p class="mt20 btn_type11"><a href="/recruit/list">공고 보러가기</a></p>
												<p class="mt20 f20 fw600 number ml5"><span class="ac" th:text="${recruitCount}"></span> <span class="f16 fw600">건</span></p> 
											</li>
										</ul>
										<div th:unless="${recruit.sDday} < 1" class="tex-center f16 pt20 pb20 gray">현재 진행중인 채용이 없습니다.</div>
									</div>
									<!-- //공고가 없을 떄 -->
									<div class="roundType01 mt30" th:unless="${not #lists.isEmpty( recruit )}">
										<div class="tex-center f16 pt20 pb20 gray">현재 진행중인 채용이 없습니다.</div>
									</div>
								</div>
								<ul class="info_ul mt20">
									<li class="mr30"><img th:src="@{/img/ico04.png}" alt="연락처"/></li>
									<li class="roundType03 mt30">
										<dl>
											<dt class="f16 fw600">채용문의</dt>
											<dd class="f16 fw400 gray ac ml10"><span class="mr10">recruit@vegemil.co.kr</span>
											<button type="button" class="f14 gray" onclick = "location.href = '/mypage/qna' ">1:1 문의하기</button>
											</dd>
										</dl>
									</li>
								</ul>
								<p class="f20 fw400 white text-left mt150">채용안내</p>
								<ul class="info_ps mt20">
									<li class="mr30"><a href="/info/info">채용 프로세스</a></li>
									<li class="mr30"><a href="/info/work">복지제도</a></li>
									<li class="mr30"><a href="/info/benefit">인사제도</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ================================ // Content ================================ -->
	</div><!-- //wrap bg_01 -->

<!-- ================================ Footer ================================ -->
<footer class="container100" th:replace="fragments/mainFooter :: footerFragment"></footer>
<!-- ================================ // Footer ================================ -->

</body>
</html>