<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="dataScriptFragment">
    
    <!-- BEGIN: Vendor JS-->
    <script th:src="@{/app-assets/vendors/js/vendors.min.js}"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script th:src="@{/app-assets/vendors/js/tables/datatable/jquery.dataTables.min.js}"></script>
    <script th:src="@{/app-assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js}"></script>
    <script th:src="@{/app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js}"></script>
    <script th:src="@{/app-assets/vendors/js/tables/datatable/responsive.bootstrap4.js}"></script>
    <script th:src="@{/app-assets/vendors/js/tables/datatable/datatables.checkboxes.min.js}"></script>
    <script th:src="@{/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js}"></script>
    <script th:src="@{/app-assets/vendors/js/tables/datatable/jszip.min.js}"></script>
    <script th:src="@{/app-assets/vendors/js/tables/datatable/pdfmake.min.js}"></script>
    <script th:src="@{/app-assets/vendors/js/tables/datatable/vfs_fonts.js}"></script>
    <script th:src="@{/app-assets/vendors/js/tables/datatable/buttons.html5.min.js}"></script>
    <script th:src="@{/app-assets/vendors/js/tables/datatable/buttons.print.min.js}"></script>
    <script th:src="@{/app-assets/vendors/js/tables/datatable/dataTables.rowGroup.min.js}"></script>
    <script th:src="@{/app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js}"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script th:src="@{/app-assets/js/core/app-menu.js}"></script>
    <script th:src="@{/app-assets/js/core/app.js}"></script>
    <!-- END: Theme JS-->
    <script th:inline="javascript">
	/*<![CDATA[*/
		if (window.location.protocol == "http:") {
			if(window.location.hostname == 'vegemil.co.kr' || window.location.hostname == "recruit.vegemil.co.kr") {
				window.location.href = window.location.href.replace('http:', 'https:');
			}
		}
	
		$.getJSON("https://api.ipify.org?format=jsonp&callback=?",
		
	      /* function(json) {
	        if(json.ip != '211.204.41.41' && json.ip != '115.88.198.133') {
	        	alert("관리자만 접속 가능한 페이지입니다. 현재 IP:"+ json.ip);
	        	window.location.href = '/';
	        }
	      } */
	    );
	
	/*]]>*/
	</script>
    <!-- BEGIN: Page JS-->
    <th:block layout:fragment="add-script"></th:block>
    <!-- END: Page JS-->

    <script>
        $(window).on('load', function() {
            if (feather) {
                feather.replace({
                    width: 14,
                    height: 14
                });
            }
        })
        if(![[${getAuth}]]) {
        	alert('관리자로 로그인해주세요');
        	window.location.href = '/home';
        }

    </script>
    
    
</th:block>

</html>