<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="dataHeadFragment">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <th:block layout:fragment="title"></th:block>
    <link rel="apple-touch-icon" th:href="@{/app-assets/images/ico/apple-icon-120.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/app-assets/images/ico/favicon.ico}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/vendors.min.css}">
<!--     <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/tables/datatable/dataTables.bootstrap4.min.css}"> -->
<!--     <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/tables/datatable/responsive.bootstrap4.min.css}"> -->
<!--     <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/pickers/flatpickr/flatpickr.min.css}"> -->
<!--     <link rel="stylesheet" type="text/css" href="https://image.edaymall.com/images/mail/news/dcf/dcf2022/ys/reset.css"> -->
<!--     <link rel="stylesheet" type="text/css" href="https://image.edaymall.com/images/mail/news/dcf/dcf2022/ys/style.css"> -->
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/recruit2022.css}">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
<!--     <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/bootstrap.css}"> -->
	<link rel="stylesheet" type="text/css" href="https://image.edaymall.com/images/mail/news/dcf/dcf2022/ys/bootstrap.css">
<!--     <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/bootstrap-extended.css}"> -->
<!--     <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/colors.css}"> -->
<!--     <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/components.css}"> -->
<!--     <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/themes/dark-layout.css}"> -->
<!--     <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/themes/bordered-layout.css}"> -->
<!--     <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/themes/semi-dark-layout.css}"> -->

	<!-- BEGIN: Page CSS-->
    <th:block layout:fragment="add-css"></th:block>
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
<!--     <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}"> -->
    <!-- END: Custom CSS-->
</head>
</th:block>
</html>