<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="sidebarFragment">

	<!-- @메뉴 목록 세션 or 쿠키의 부서값으로 구분하자 -->
	<!-- @DB에서 조회X 상시로드되어 있도록 -->
    <!-- BEGIN: Main Menu-->
    <div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item me-auto"><a class="navbar-brand" href="/admin/recruit/noticeList"><span class="brand-logo">
<!--                             <img src="../common/images/logo/logo_b.png" /></span> -->
							<img src="https://image.edaymall.com/images/mail/news/dcf/dcf2022/html_채용/img/logo.png" /></span>
                        <h2 class="brand-text">관리자</h2>
                    </a></li>
                <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pe-0" data-bs-toggle="collapse"><i class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x"></i><i class="d-none d-xl-block collapse-toggle-icon font-medium-4  text-primary" data-feather="disc" data-ticon="disc"></i></a></li>
            </ul>
        </div>
        <div class="shadow-bottom"></div>
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                 <li class=" nav-item"><a class="d-flex align-items-center" th:href="@{/admin/recruit/recruitIndex}"><i data-feather="grid"></i><span class="menu-item text-truncate" data-i18n="Basic">지원통계</span></a>
                 </li>
                 <li class=" nav-item"><a class="d-flex align-items-center" th:href="@{/admin/recruit/noticeAdd}"><i data-feather="grid"></i><span class="menu-item text-truncate" data-i18n="Advanced">채용공고 등록</span></a>
                 </li>
                 <li class=" nav-item"><a class="d-flex align-items-center" th:href="@{/admin/recruit/noticeList}"></i><i data-feather="grid"></i><span class="menu-item text-truncate" data-i18n="Advanced">채용공고 조회/수정</span></a>
                 </li>
                 <li class=" nav-item"><a class="d-flex align-items-center" th:href="@{/admin/recruit/volunteerList}"></i><i data-feather="grid"></i><span class="menu-item text-truncate" data-i18n="Basic">지원자리스트</span></a>
                </li>
                <li class=" nav-item"><a class="d-flex align-items-center" th:href="@{/admin/recruit/qnaList}"></i><i data-feather="grid"></i><span class="menu-item text-truncate" data-i18n="Basic">1:1문의 리스트</span></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- END: Main Menu-->

</th:block>
</html>