<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<title>정식품 채용</title>
<head th:replace="fragments/head :: headFragment"></head>
<!-- add css -->
<link rel='stylesheet' href='https://cdn.rawgit.com/filamentgroup/fixed-sticky/master/fixedsticky.css'>
<link th:href="@{/common/css/modality.css}" rel="stylesheet">
<!-- add js -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdn.rawgit.com/filamentgroup/fixed-sticky/master/fixedsticky.js'></script>
<script>
	$(document).ready(function(){
		$( '.sidebar' ).fixedsticky();
	});
</script>
<body>
	<div class="wrap">
		<!-- ================================ Header ================================ -->
		<header class="subColor" th:replace="fragments/mainHeader :: headerFragment"></header>
		<!-- ================================ // Header ================================ -->
		<!-- ================================ Content ================================ -->
		<section>
			<div class="container100">
				<div class="nav">
					<div class="container1300 center">
						<a href="/"><span class="round">HOME</span></a><img class="arrow" th:src="@{/img/arrow.png}" alt="화살표" /><a href="/mypage/list"><span class="round">마이페이지</span></a>
					</div>
				</div>
				<div class="container1300 center" >
					<div class="memberWrapBase">
						<div class="sidebar fixedsticky w350 f-left" >
							<p class="f23 fw600">지원서 작성</p>
							<p class="f38 fw600 line-height120 ls-2 mt20" th:if="${app.setupTitle} != null and ${app.setupTitle} != ''" th:text="${app.setupTitle}"></p>
							<ul class="mt70 writeList">
								<li class="w-after"><a th:href="|@{/application/personalInfo}?idx=${app.idx}|">개인정보</a></li>
								<li class="w-ing"><a th:href="|@{/application/academy}?idx=${app.idx}|">학력정보</a></li>
								<li class="w-before"><a th:href="|@{/application/qualification}?idx=${app.idx}|">어학/자격/기타</a></li>
								<li class="w-before"><a th:href="|@{/application/career}?idx=${app.idx}|">경력사항</a></li>
								<li class="w-before"><a th:href="|@{/application/introduce}?idx=${app.idx}|">자기소개</a></li>
							</ul>
							<p class="btn_type02 mt30"><a href="#pop_view">미리보기</a></p>
						</div>
						<div class="wrap860 f-right" >
						<form class="fam-repeater" th:action="@{/application/registerAcademyInfo}" th:object="${app}" method="post" >
							<!-- (1)최종 (예정) 학력 -->
							
							<!-- 개발시 노출범위 확인해주세요!
								//고등학교 선택시 노출범위 :고등학교
								//전문대학 선택시 노출범위 :고등학고 + 전문대학
								//대학교 선택시 노출범위 :고등학고 + 전문대학 + 대학교
								//석사 선택시 노출범위 :고등학고 + 전문대학 + 대학교 + 석사
								//박사 선택시 노출범위 :고등학고 + 전문대학 + 대학교 + 석사 + 박사
							-->
							<input type="hidden" th:field="*{idx}" />
							<input type="hidden" th:field="*{setupTh}" />
							<!-- 학력 -->
							<p class="f23 fw600 mt80 pr">학력<span class="abs-r f14 fw400 red">*는 필수 입력 사항입니다.</span></p> 
							<div class="r-box mt20">
								<div class="row">
									<div class="col-lg-6 mt10">
										<ul class="s-d-2">
										<li class="f14">선택</li>
										<li>
											<div class="scroll w180">
											  <select class="base w180" id="selectAcademy">
												<option value="">구분</option>
												<option value="high_list">고등학교</option>
												<option value="colg_list">전문대학</option>
												<option value="univ_list">대학교</option>
												<option value="mast_list">석사</option>
												<option value="doct_list">박사</option>
											  </select>
											</div>
										</li>
									</ul>
									</div>
									<div class="col-lg-6 mt10">
										<ul class="s-d-2">
										<li class="f14"><span class="red">*</span>최종학력</li>
										<li>
											<div class="custom-sel w180">
											  <select th:field="*{lastAcademy}">
												<option value="">선택해 주세요</option>
												<option value="고등학교">고등학교</option>
												<option value="전문대학">전문대학</option>
												<option value="대학교">대학교</option>
												<option value="석사">석사</option>
												<option value="박사">박사</option>
											  </select>
											</div>
										</li>
									</ul>
									</div>
									<div id="searchArea" class="col-lg-6 mt10" style="display:none;">
										<ul class="s-d-2">
											<li class="f14"><span class="red">*</span>학교명</li>
											<li>
												<fieldset class="search">
													<legend>학교검색</legend>
													<input type="text" id="schName" title='학교명 입력' placeholder="학교명"  readonly='readonly' class="inType01 w120 bgGray2"><a  href="#pop_school" title="팝업" class="ico_search" value=""><span class="btn_Type06">검색</span></a>
												</fieldset>
											</li>
										</ul>
									</div>
									<div id="gradArea" class="col-lg-6 mt10" style="display:none;">
										<ul class="s-d-2">
											<li class="f14"><span class="red">*</span>졸업구분</li>
											<li>
												<div class="w180">
												  <select id="schGrad" class="base w180">
													<option value="">선택해 주세요</option>
													<option value="졸업">졸업</option>
													<option value="예정">예정</option>
												  </select>
												</div>
											</li>
										</ul>
									</div>
									<div id="schChangeArea" class="col-lg-6 mt10" style="display:none;">
										<ul class="s-d-2">
											<li class="f14"><span class="red">*</span>입학구분</li>
											<li>
												<div class="w180">
												  <select id="schAdmis" class="base w180">
													<option value="">선택해 주세요</option>
													<option value="입학">입학</option>
													<option value="편입">편입</option>
												  </select>
												</div>
											</li>
										</ul>
									</div>
									<div id="schArea" class="col-lg-6 mt10" style="display:none;">
										<ul class="s-d-2">
											<li class="f14"><span class="red">*</span>소재지</li>
											<li>
												<input type="text" id="schSite" class="inType01 w180" value="">
											</li> 
										</ul>
									</div>
								</div> 
								<div class="row mt10">
									<div id="nightArea" class="col-lg-6 " style="display:none;">
										<ul class="s-d-2">
											<li class="f14"><span class="red">*</span>주간/야간</li>
											<li>
												<div class="w180">
												  <select id="schNight" class="base w180">
													<option value="">선택해 주세요</option>
													<option value="주간">주간</option>
													<option value="야간">야간</option>
												  </select>
												</div>
											</li>
										</ul>
									</div>
								</div>
								<div class="row  mt10 pb30 bottom_line ">
									<div id="howLongArea" class="col-lg-12" style="display:none;">
										<ul class="s-d-2 ">
											<li class="f14"><span class="red">*</span>재학기간</li>
											<li>
												<input type="text" id="schEnterYm" class="inType01 w180 ls1" placeholder="YYYY-MM" value="">
											</li>
											<li class="ml10 mr10"> ~ </li>
											<li>
												<input type="text" id="schGradYm" class="inType01 w180 ls1" placeholder="YYYY-MM" value="">
											</li>
										</ul>
									</div>
								</div>
								<div id="majorArea" class="row  mt30 " style="display:none;">
									<div class="col-lg-6 ">
										<ul class="s-d-2 ">
											<li class="f14"><span class="red">*</span>주전공</li>
											<li>
												<fieldset class="search">
													<legend>학과검색</legend>
													<input type="text" id="schMajor" title='학과명 입력' placeholder="학과명"  readonly='readonly' class="inType01 w120 bgGray2" value=""><a  href="#pop_major" title="팝업" class="ico_search"><span class="btn_Type06">검색</span></a>
												</fieldset>
											</li>
										</ul>
									</div>
									<div class="col-lg-6 ">
										<ul class="s-d-2 ">
											<li class="f14"><span class="red">*</span>평점</li>
											<li>
												<input type="text" id="schPointEvg" class="inType01 w70 text-right" value="">
											</li>
											<li class="ml10 mr10"> / </li>
											<li>
												4.5
											</li>
											<p class="gray f14 mt10 ">*평점은 4.5 만점으로 환산</p>
										</ul>
									</div>
									<div class="col-lg-6 " id="majorAddArea1" style="display:none;">
										<ul class="s-d-2 ">
											<li class="f14"><span class="red">*</span>전공추가</li>
											<li>
												<div class="w180">
												  <select id="schDepType" class="base w180">
													<option value="">전공추가</option>
													<option value="복수전공">복수전공</option>
													<option value="부전공">부전공</option>
													<option value="심화전공">심화전공</option>
													<option value="연계·융합전공">연계·융합전공</option>
												  </select>
												</div>
											</li>
										</ul>
									</div>
									<div class="col-lg-12 mt10" id="majorAddArea2" style="display:none;">
										<ul class="s-d-2 ">
											<li class="f14"><span class="red">*</span>복수/부전공</li>
											<li>
												<fieldset class="search">
													<legend>부전공검색</legend>
													<input type="text" id="schSubMajor" title='학과명 입력' placeholder="학과명"  readonly='readonly' class="inType01 w120 bgGray2" value=""><a  href="#pop_sub_major" title="팝업" class="ico_search"><span class="btn_Type06">검색</span></a>
												</fieldset>
												
											</li>
										</ul>
									</div>
								</div>
								<div class="w100 copybtn-box">
									<p class="f16 fw400 mt20 pr btn_copy ">
										<button type="button" id="academySave" onclick="registerAcademy()" class="btn_type15">저장</button >
									</p>
								</div>
							<!-- 학력 저장 정보 로드  -->
							<!-- //공통입력 -->
							<div class="con-list">
								<ul id="con-list">
								<!-- 고등 -->
								<li th:if="*{schName1 != null and schName1 != ''}" id="high_list">
									<dl>
										<dt>
											<span class="gray3">고등학교</span>
										</dt>
										<dd>
											<span class="sublist" th:if="*{schName1 != null and schName1 != ''}" th:text="*{schName1}" th:id="schName1"></span>
											<span class="sublist" th:if="*{schSite1 != null and schSite1 != ''}" th:text="*{schSite1}" th:id="schSite1"></span>
											<span class="sublist" th:if="*{schNight1 != null and schNight1 != ''}" th:text="*{schNight1}" th:id="schNight1"></span>
											<span class="sublist" th:if="*{schEnterYm1 != null and schEnterYm1 != '' and schGradYm1 != null and schGradYm1 != ''}" th:text="|*{schEnterYm1} *{schAdmis1} ~ *{schGradYm1} *{schGrad1}|"></span>
										</dd>
										<dd>
											<span><a href="javascript:editAcademy('high_list');"><img th:src="@{/img/ico_edit.png}" alt="수정"/></a></span> 
											<span><a href="javascript:deleteAcademy('high_list');"><img th:src="@{/img/ico_delete.png}" alt="삭제"/></a></span> 
										</dd><br class="clear">
									</dl>									
								</li>
								<!-- 전문학사 -->
								<li th:if="*{schName2 != null and schName2 != ''}" id="colg_list">
									<dl>
										<dt>
											<span class="gray3">전문학사</span>
										</dt>
										<dd>
											<span class="sublist" th:if="*{schName2 != null and schName2 != ''}" th:text="*{schName2}" id="schName2"></span>
											<span class="sublist" th:if="*{schSite2 != null and schSite2 != ''}" th:text="*{schSite2}" id="schSite2"></span>
											<span class="sublist" th:if="*{schNight2 != null and schNight2 != ''}" th:text="*{schNight2}" id="schNight2"></span>
											<span class="sublist" th:if="*{schPointEvg2 != null and schPointEvg2 != ''}" th:text="*{schPointEvg2}" id="schPointEvg2"></span>
											<span class="sublist" th:if="*{schMajor2 != null and schMajor2 != ''}" th:text="*{schMajor2}" id="schMajor2"></span>
											<span class="sublist" th:if="*{schSubMajor2 != null and schSubMajor2 != ''}" th:text="*{schSubMajor2}" id="schSubMajor2"></span>
											<span class="sublist" th:if="*{schSubPointEvg2 != null and schSubPointEvg2 != ''}" th:text="*{schSubPointEvg2}" id="schSubPointEvg2"></span>
											<span class="sublist" th:if="*{schEnterYm2 != null and schEnterYm2 != '' and schGradYm2 != null and schGradYm2 != ''}" th:text="|*{schEnterYm2} *{schAdmis2} ~ *{schGradYm2} *{schGrad2}|"></span>
										</dd>
										<dd>
											<span><a href="javascript:editAcademy('colg_list');"><img th:src="@{/img/ico_edit.png}" alt="수정"/></a></span> 
											<span><a href="javascript:deleteAcademy('colg_list');"><img th:src="@{/img/ico_delete.png}" alt="삭제"/></a></span> 
										</dd><br class="clear">
									</dl>									
								</li>
								<!-- 학사 -->
								<li th:if="*{schName3 != null and schName3 != ''}" id="univ_list">
									<dl>
										<dt>
											<span class="gray3">대학교</span>
										</dt>
										<dd>
											<span class="sublist" th:if="*{schName3 != null and schName3 != ''}" th:text="*{schName3}" id="schName3"></span>
											<span class="sublist" th:if="*{schSite3 != null and schSite3 != ''}" th:text="*{schSite3}" id="schSite3"></span>
											<span class="sublist" th:if="*{schNight3 != null and schNight3 != ''}" th:text="*{schNight3}" id="schNight3"></span>
											<span class="sublist" th:if="*{schMajor3 != null and schMajor3 != ''}" th:text="*{schMajor3}" id="schMajor3"></span>
											<span class="sublist" th:if="*{schPointEvg3 != null and schPointEvg3 != ''}" th:text="*{schPointEvg3}" id="schPointEvg3"></span>
											<span class="sublist" th:if="*{schDepType3 != null and schDepType3 != ''}" th:text="*{schDepType3}" id="schDepType3"></span>
											<span class="sublist" th:if="*{schSubMajor3 != null and schSubMajor3 != ''}" th:text="*{schSubMajor3}" id="schSubMajor3"></span>
											<span class="sublist" th:if="*{schSubPointEvg3 != null and schSubPointEvg3 != ''}" th:text="*{schSubPointEvg3}" id="schSubPointEvg3"></span>
											<span class="sublist" th:if="*{schEnterYm3 != null and schEnterYm3 != '' and schGradYm3 != null and schGradYm3 != ''}" th:text="|*{schEnterYm3} *{schAdmis3} ~ *{schGradYm3} *{schGrad3}|"></span>
										</dd>
										<dd>
											<span><a href="javascript:editAcademy('univ_list');"><img th:src="@{/img/ico_edit.png}" alt="수정"/></a></span> 
											<span><a href="javascript:deleteAcademy('univ_list');"><img th:src="@{/img/ico_delete.png}" alt="삭제"/></a></span> 
										</dd><br class="clear">
									</dl>									
								</li>
								<!-- 석사 -->
								<li th:if="*{schName4 != null and schName4 != ''}" id="mast_list">
									<dl>
										<dt>
											<span class="gray3">석사</span>
										</dt>
										<dd>
											<span class="sublist" th:if="*{schName4 != null and schName4 != ''}" th:text="*{schName4}" id="schName4"></span>
											<span class="sublist" th:if="*{schSite4 != null and schSite4 != ''}" th:text="*{schSite4}" id="schSite4"></span>
											<span class="sublist" th:if="*{schNight4 != null and schNight4 != ''}" th:text="*{schNight4}" id="schNight4"></span>
											<span class="sublist" th:if="*{schPointEvg4 != null and schPointEvg4 != ''}" th:text="*{schPointEvg4}" id="schPointEvg4"></span>
											<span class="sublist" th:if="*{schMajor4 != null and schMajor4 != ''}" th:text="*{schMajor4}" id="schMajor4"></span>
											<span class="sublist" th:if="*{schEnterYm4 != null and schEnterYm4 != '' and schGradYm4 != null and schGradYm4 != ''}" th:text="|*{schEnterYm4} *{schAdmis4} ~ *{schGradYm4} *{schGrad4}|"></span>
										</dd>
										<dd>
											<span><a href="javascript:editAcademy('mast_list');"><img th:src="@{/img/ico_edit.png}" alt="수정"/></a></span> 
											<span><a href="javascript:deleteAcademy('mast_list');"><img th:src="@{/img/ico_delete.png}" alt="삭제"/></a></span> 
										</dd><br class="clear">
									</dl>									
								</li>
								<!-- 박사 -->
								<li th:if="*{schName5 != null and schName5 != ''}" id="doct_list">
									<dl>
										<dt>
											<span class="gray3">박사</span>
										</dt>
										<dd>
											<span class="sublist" th:if="*{schName5 != null and schName5 != ''}" th:text="*{schName5}" id="schName5"></span>
											<span class="sublist" th:if="*{schSite5 != null and schSite5 != ''}" th:text="*{schSite5}" id="schSite5"></span>
											<span class="sublist" th:if="*{schNight5 != null and schNight5 != ''}" th:text="*{schNight5}" id="schNight5"></span>
											<span class="sublist" th:if="*{schPointEvg5 != null and schPointEvg5 != ''}" th:text="*{schPointEvg5}" id="schPointEvg5"></span>
											<span class="sublist" th:if="*{schMajor5 != null and schMajor5 != ''}" th:text="*{schMajor5}" id="schMajor5"></span>
											<span class="sublist" th:if="*{schEnterYm5 != null and schEnterYm5 != '' and schGradYm5 != null and schGradYm5 != ''}" th:field="|*{schEnterYm5} *{schAdmis5} ~ *{schGradYm5} *{schGrad5}|"></span>
										</dd>
										<dd>
											<span><a href="javascript:editAcademy('doct_list');"><img th:src="@{/img/ico_edit.png}" alt="수정"/></a></span> 
											<span><a href="javascript:deleteAcademy('doct_list');"><img th:src="@{/img/ico_delete.png}" alt="삭제"/></a></span> 
										</dd><br class="clear">
									</dl>									
								</li>
							</ul>
								<!-- 고등 -->
								<input type="hidden" th:if="*{schAdmis1 != null and schAdmis1 != ''}" th:value="*{schAdmis1}" id="schAdmis1">
								<input type="hidden" th:if="*{schGrad1 != null and schGrad1 != ''}" th:value="*{schGrad1}" id="schGrad1">
								<input type="hidden" th:if="*{schEnterYm1 != null and schEnterYm1 != ''}" th:value="*{schEnterYm1}" id="schEnterYm1">
								<input type="hidden" th:if="*{schGradYm1 != null and schGradYm1 != ''}" th:value="*{schGradYm1}" id="schGradYm1">
								<!-- 전문대 -->
								<input type="hidden" th:if="*{schAdmis2 != null and schAdmis2 != ''}" th:value="*{schAdmis2}" id="schAdmis2">
								<input type="hidden" th:if="*{schGrad2 != null and schGrad2 != ''}" th:value="*{schGrad2}" id="schGrad2">
								<input type="hidden" th:if="*{schEnterYm2 != null and schEnterYm2 != ''}" th:value="*{schEnterYm2}" id="schEnterYm2">
								<input type="hidden" th:if="*{schGradYm2 != null and schGradYm2 != ''}" th:value="*{schGradYm2}" id="schGradYm2">
								<!-- 학사 -->
								<input type="hidden" th:if="*{schAdmis3 != null and schAdmis3 != ''}" th:value="*{schAdmis3}" id="schAdmis3">
								<input type="hidden" th:if="*{schGrad3 != null and schGrad3 != ''}" th:value="*{schGrad3}" id="schGrad3">
								<input type="hidden" th:if="*{schEnterYm3 != null and schEnterYm3 != ''}" th:value="*{schEnterYm3}" id="schEnterYm3">
								<input type="hidden" th:if="*{schGradYm3 != null and schGradYm3 != ''}" th:value="*{schGradYm3}" id="schGradYm3">
								<!-- 석사 -->
								<input type="hidden" th:if="*{schAdmis4 != null and schAdmis4 != ''}" th:value="*{schAdmis4}" id="schAdmis4">
								<input type="hidden" th:if="*{schGrad4 != null and schGrad4 != ''}" th:value="*{schGrad4}" id="schGrad4">
								<input type="hidden" th:if="*{schEnterYm4 != null and schEnterYm4 != ''}" th:value="*{schEnterYm4}" id="schEnterYm4">
								<input type="hidden" th:if="*{schGradYm4 != null and schGradYm4 != ''}" th:value="*{schGradYm4}" id="schGradYm4">
								<!-- 박사 -->
								<input type="hidden" th:if="*{schAdmis5 != null and schAdmis5 != ''}" th:value="*{schAdmis5}" id="schAdmis5">
								<input type="hidden" th:if="*{schGrad5 != null and schGrad5 != ''}" th:value="*{schGrad5}" id="schGrad5">
								<input type="hidden" th:if="*{schEnterYm5 != null and schEnterYm5 != ''}" th:value="*{schEnterYm5}" id="schEnterYm5">
								<input type="hidden" th:if="*{schGradYm5 != null and schGradYm5 != ''}" th:value="*{schGradYm5}" id="schGradYm5">
							</div>					
							</div>
							<div class="w100 mt30">
								<a th:href="|@{/application/personalInfo}?idx=${app.idx}|"><p class="f_left f20"><img th:src="@{/img/btn_prev.png}" alt="개인정보" /> 개인정보</p></a>
								<a th:href="|@{/application/qualification}?idx=${app.idx}|"><p class="f_right f20">어학정보 <img th:src="@{/img/btn_next.png}" alt="어학정보" /></p></a>
							</div>
						</form>
						</div><!-- //wrap860 -->
					</div><!-- //memberWrapBase -->
				</div><!-- //container1300 -->
			</div><!-- //container100 -->
		</section>
		<!-- ================================ 
				// Content 
		================================ -->
	</div><!-- //wrap bg_01 -->
	
	<!-- ================================ 
				Popup 
	================================ -->
	<!-- popup -->
	
	<div id="pop_school" style="display:none;"  class="w600">
		<div class="popBasePW" cellspacing="0"  summary="타이틀">
	
			<p class="f23 fw600">학교검색</p>
			<p class="btn_pop_close"><a href="#pop_school"><img th:src="@{/img/btn_popClose.png}" alt="닫기" /></a></p>
			<p class="f14 fw400 mt40">학교명</p>
			<div class="search_school ">
				<fieldset class="search">
                <legend>검색</legend>
                   <input type="text" id="shName" class="ss_inType mt20" placeholder="학교명을 2자 이상 입력해주세요."><a href="javascript:fnSchool();" title="검색"><img class="ico_search2" th:src="@{/img/ico_search.png}" alt="학교명 검색"></a>
                </fieldset>
				<ul class="ss_ul mt10" id="schList">
					<li class="schLi"><a href="#none"></a></li>
				</ul>
				<p class="f14 mt30">찾으시는 결과가 없나요? <b><a onclick="javascript:inputSchool();">직접입력</a></b></p>
				<input type="text" id="inSch" class="ss_inType mt10" disabled>
				<p class="mt40 btn_type05"><a href="#pop_school" id="inputSchoolBtn">등록</a></p>
			</div>
		</div>
	</div>
	
	<div id="pop_major"  style="display:none;"  class="w600">
		<div class="popBasePW" cellspacing="0"  summary="타이틀">
	
			<p class="f23 fw600">학과검색</p>
			<p class="btn_pop_close"><a href="#pop_major"><img th:src="@{/img/btn_popClose.png}" alt="닫기" /></a></p>
			<p class="f14 fw400 mt40">학과명</p>
			<div class="search_school ">
				<fieldset class="search">
                <legend>검색</legend>
                   <input type="text" id="majorName" class="ss_inType mt20" placeholder="전공명을 2자 이상 입력해주세요."><a href="javascript:fnMajor('main');" title="검색"><img class="ico_search2" th:src="@{/img/ico_search.png}" alt="전공 검색"></a>
                </fieldset>
				<ul class="ss_ul mt10" id="majorList">
					<li class="majLi"><a></a></li>
				</ul>
				<p class="f14 mt30">찾으시는 결과가 없나요? <b><a onclick="javascript:inputMajor();">직접입력</a></b></p>
				<input type="text" id="inMaj" class="ss_inType mt10" disabled>
				<p class="mt40 btn_type05"><a href="#pop_major" id="inputMajorBtn">등록</a></p>
			</div>
		</div>
	</div>
	
	<div id="pop_sub_major"  style="display:none;"  class="w600">
		<div class="popBasePW" cellspacing="0"  summary="타이틀">
	
			<p class="f23 fw600">학과검색</p>
			<p class="btn_pop_close"><a href="#pop_sub_major"><img th:src="@{/img/btn_popClose.png}" alt="닫기" /></a></p>
			<p class="f14 fw400 mt40">학과명</p>
			<div class="search_school ">
				<fieldset class="search">
                <legend>검색</legend>
                   <input type="text" id="subMajorName" class="ss_inType mt20" placeholder="전공명을 2자 이상 입력해주세요."><a href="javascript:fnMajor('sub');" title="검색"><img class="ico_search2" th:src="@{/img/ico_search.png}" alt="전공 검색"></a>
                </fieldset>
				<ul class="ss_ul mt10" id="subMajorList">
					<li class="subMajLi"><a></a></li>
				</ul>
				<p class="f14 mt30">찾으시는 결과가 없나요? <b><a onclick="javascript:inputSubMajor();">직접입력</a></b></p>
				<input type="text" id="inSubMaj" class="ss_inType mt10" disabled>
				<p class="mt40 btn_type05"><a href="#pop_sub_major" id="inputSubMajorBtn">등록</a></p>
			</div>
		</div>
	</div>
	<!-- //popup -->

	<script th:src="@{/common/js/modality.js}"></script>
	<!-- 팝업 script -->
	<script>
		var modal1 = Modality.init('#pop_school ', {effect: 'slide-up'});
		var modal2 = Modality.init('#pop_major ', {effect: 'slide-up'});
		var modal3 = Modality.init('#pop_sub_major ', {effect: 'slide-up'});
		//var modal4 = Modality.init('#pop_view', { effect: 'slide-up' }); // 팝업_미리보기
	</script>
	<!-- //팝업 script -->
	<script th:src="@{/common/js/academy.js}"></script>

<!-- ================================ Footer ================================ -->
<footer class="container100 center bgGray" th:replace="fragments/mainFooter :: footerFragment"></footer>
<!-- ================================ // Footer ================================ -->
</body>
</html>