<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<title>정식품 채용</title>
<head th:replace="fragments/head :: headFragment"></head>
<!-- add css -->
<link rel='stylesheet' href='https://cdn.rawgit.com/filamentgroup/fixed-sticky/master/fixedsticky.css'>
<link th:href="@{/common/css/modality.css}" rel="stylesheet">
<!-- add js -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdn.rawgit.com/filamentgroup/fixed-sticky/master/fixedsticky.js'></script>
<script>
	$(document).ready(function(){
		$( '.sidebar' ).fixedsticky();
	});
</script>
<body>
	<div class="wrap">
		<!-- ================================ Header ================================ -->
		<header class="subColor" th:replace="fragments/mainHeader :: headerFragment"></header>
		<!-- ================================ // Header ================================ -->
		<!-- ================================ Content ================================ -->
		<section>
			<div class="container100">
				<div class="container1300 center" >
					<div class="memberWrapBase">
						<div class="sidebar fixedsticky w350 f-left" >
							<p class="f23 fw600">지원서 작성</p>
							<p class="f38 fw600 line-height120 ls-2 mt20">정식품 2022년<br>하반기 신입, 경력사원<br>공채 모집</p>
							<ul class="mt70 writeList">
								<li class="w-after"><a th:href="|@{/application/personalInfo}?idx=${app.idx}|">개인정보</a></li>
								<li class="w-ing"><a th:href="|@{/application/academy}?idx=${app.idx}|">학력정보</a></li>
								<li class="w-before"><a th:href="|@{/application/qualification}?idx=${app.idx}|">어학/자격/기타</a></li>
								<li class="w-before"><a th:href="|@{/application/career}?idx=${app.idx}|">경력사항</a></li>
								<li class="w-before"><a th:href="|@{/application/introduce}?idx=${app.idx}|">자기소개</a></li>
							</ul>
							<p class="btn_type02 mt30"><a href="/application/reView">미리보기</a></p>
							<p class="btn_type03 mt10"><a href="javascript:void(0);" th:onclick="registerAcademy([[ ${app.idx} ]])">임시저장</a></p>
						</div>
						<div class="wrap860 f-right" >
						<form class="fam-repeater" th:action="@{/application/registerAcademyInfo}" th:object="${app}" method="post" >
							<!-- (1)최종 (예정) 학력 -->
							
							<!-- 개발시 노출범위 확인해주세요!
								//고등학교 선택시 노출범위 :고등학교
								//전문대학 선택시 노출범위 :고등학고 + 전문대학
								//대학교 선택시 노출범위 :고등학고 + 전문대학 + 대학교
								//석사 선택시 노출범위 :고등학고 + 전문대학 + 대학교 + 석사
								//박사 선택시 노출범위 :고등학고 + 전문대학 + 대학교 + 석사 + 박사
							-->
							<input type="hidden" th:field="*{idx}" />
							<p class="f23 fw600">최종 (예정) 학력<span class="abs-r f14 fw400 red">*는 필수 입력 사항입니다.</span></p>
							<div class="r-box mt20">
								<ul class="s-d-2">
									<li class="f14"><span class="red">*</span>최종학력</li>
									<li>
										<div class="custom-sel w230">
										  <select th:field="*{lastAcademy}">
											<option value="">선택해 주세요</option>
											<option value="고등학교">고등학교</option>
											<option value="전문대학">전문대학</option>
											<option value="대학교">대학교</option>
											<option value="석사">석사</option>
											<option value="박사">박사</option>
										  </select>
										</div>
									</li>
								</ul>
							</div>
							<!-- //(1)최종 (예정) 학력 -->
							<!-- (2)고등학교 -->
							<p class="f23 fw600 mt80 pr">고등학교</p> 
							<div class="r-box mt20">
								<div class="row">
									<div class="col-lg-12 ">
										<ul class="s-d-2">
											<li class="f14"><span class="red">*</span>졸업구분</li>
											<li>
												<div class="custom-sel w180">
												  <select th:field="*{schGrad1}">
													<option value="">선택해 주세요</option>
													<option value="졸업">졸업</option>
													<option value="예정">예정</option>
												  </select>
												</div>
											</li>
										</ul>
									</div>
									<div class="col-lg-6 mt10">
										<ul class="s-d-2">
											<li class="f14"><span class="red">*</span>학교명</li>
											<li>
												<input type="text" th:field="*{schName1}" class="inType01 w180"  >
											</li>
										</ul>
									</div>
									<div class="col-lg-6 mt10">
										<ul class="s-d-2">
											<li class="f14"><span class="red">*</span>소재지</li>
											<li>
												<input type="text" th:field="*{schSite1}" class="inType01 w180"  >
											</li>
										</ul>
									</div>
								</div>
								<div class="row mt10">
									
									<div class="col-lg-6">
										<ul class="s-d-2">
											<li class="f14"><span class="red">*</span>계열</li>
											<li>
												<input type="text" th:field="*{schAdmis1}" class="inType01 w180"  >
											</li>
										</ul>
									</div>
									<div class="col-lg-6 ">
										<ul class="s-d-2">
											<li class="f14"><span class="red">*</span>주간/야간</li>
											<li>
												<div class="custom-sel w180">
												  <select th:field="*{schNight1}">
													<option value="">선택해 주세요</option>
													<option value="주간">주간</option>
													<option value="야간">야간</option>
												  </select>
												</div>
											</li>
										</ul>
									</div>
								</div>
								<div class="row  mt10">
									<div class="col-lg-12">
										<ul class="s-d-2">
											<li class="f14"><span class="red">*</span>재학기간</li>
											<li>
												  <input type="text" id="schEnterYm1" th:field="*{schEnterYm1}" class="inType01 w180 ls1" placeholder="YYYY-MM" >
											</li>
											<li class="ml10 mr10"> - </li>
											<li>
												  <input type="text" id="schGradYm1" th:field="*{schGradYm1}" class="inType01 w180 ls1" placeholder="YYYY-MM" >
											</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- (3)전문대학 -->
							<p class="f23 fw600 mt80 pr">전문대학</p> 
							<div class="r-box mt20">
								<div class="row">
									<div class="col-lg-12 ">
										<ul class="s-d-2">
											<li class="f14">졸업구분</li>
											<li>
												<div class="custom-sel w180">
												  <select th:field="*{schGrad2}">
													<option value="">선택해 주세요</option>
													<option value="졸업">졸업</option>
													<option value="예정">예정</option>
												  </select>
												</div>
											</li>
										</ul>
									</div>
									<div class="col-lg-6 mt10">
										<ul class="s-d-2">
											<li class="f14">학교명</li>
											<li>
												<input type="text" th:field="*{schName2}" class="inType01 w180"  >
											</li>
										</ul>
									</div>
									<div class="col-lg-6 mt10">
										<ul class="s-d-2">
											<li class="f14">소재지</li>
											<li>
												<input type="text" th:field="*{schSite2}" class="inType01 w180"  >
											</li>
										</ul>
									</div>
								</div>
								<div class="row mt10">
									
									<div class="col-lg-6">
										<ul class="s-d-2">
											<li class="f14">계열</li>
											<li>
												<input type="text" th:field="*{schAdmis2}" class="inType01 w180"  >
											</li>
										</ul>
									</div>
									<div class="col-lg-6 ">
										<ul class="s-d-2">
											<li class="f14">주간/야간</li>
											<li>
												<div class="custom-sel w180">
												  <select th:field="*{schNight2}">
													<option value="">선택해 주세요</option>
													<option value="주간">주간</option>
													<option value="야간">야간</option>
												  </select>
												</div>
											</li>
										</ul>
									</div>
								</div>
								<div class="row  mt10 pb30 bottom_line ">
									<div class="col-lg-12">
										<ul class="s-d-2 ">
											<li class="f14">재학기간</li>
											<li>
												<input type="text" id="schEnterYm2" th:field="*{schEnterYm2}"  class="inType01 w180 ls1" placeholder="YYYY-MM" >
											</li>
											<li class="ml10 mr10"> ~ </li>
											<li>
												<input type="text" id="schGradYm2" th:field="*{schGradYm2}"  class="inType01 w180 ls1" placeholder="YYYY-MM" >
											</li>
										</ul>
									</div>
								</div>
								<div class="row  mt30 ">
									<div class="col-lg-6 ">
										<ul class="s-d-2 ">
											<li class="f14"><span class="red">*</span>학과계열</li>
											<li>
												<div class="custom-sel w180">
												  <select th:field="*{schDepType2}">
													<option value="">선택해 주세요</option>
													<option value="상경">상경</option>
													<option value="법정">법정</option>
													<option value="식품">식품</option>
													<option value="사회과학">사회과학</option>
													<option value="인문">인문</option>
													<option value="어문">어문</option>
													<option value="자연">자연</option>
													<option value="이공">이공</option>
													<option value="자연과학">자연과학</option>
													<option value="교육">교육</option>
													<option value="예체능">예체능</option>
													<option value="기타">기타</option>
												  </select>
												</div>
											</li>
										</ul>
									</div>
									<div class="col-lg-6 ">
										<ul class="s-d-2 ">
											<li class="f14"><span class="red">*</span>전공</li>
											<li>
												<input type="text" th:field="*{schMajor2}" class="inType01 w180"  >
											</li>
										</ul>
									</div>
									
									<div class="col-lg-12 mt10">
										<ul class="s-d-2 ">
											<li class="f14"><span class="red">*</span>평점</li>
											<li>
												<input type="text" th:field="*{schPointEvg2}" class="inType01 w70 text-right"  >
											</li>
											
											<li class="ml10 mr10"> / </li>
											<li>
												4.5
											</li>
											<p class="gray f14 mt10 ">*평점은 4.5 만점으로 환산하여 입력해주세요.</p>
										</ul>
									</div>
								</div>	
							</div>
							<!-- (4)대학교 -->
							<p class="f23 fw600 mt80 pr">대학교</p> 
							<p style="border:2px dashed red;padding:10px; background:yellow; text-align:left; line-height:140%">[전산] 대학교 > 입학구분 > 일반선택시 전문대학 히든처리</p>
							<div class="r-box mt20">
								<div class="row">
									<div class="col-lg-6">
										<ul class="s-d-2">
											<li class="f14"><span class="red">*</span>입학구분</li>
											<li>
												<div class="custom-sel w180 error">
												  <select th:field="*{schTransfer3}">
													<option value="">선택해 주세요</option>
													<option value="일반">일반</option>
													<option value="편입">편입</option>
												  </select>
												</div>
											</li>
										</ul>
									</div>
									<div class="col-lg-6 ">
										<ul class="s-d-2">
											<li class="f14"><span class="red">*</span>졸업구분</li>
											<li>
												<div class="custom-sel w180">
												  <select th:field="*{schGrad3}">
													<option value="">선택해 주세요</option>
													<option value="졸업">졸업</option>
													<option value="예정">예정</option>
												  </select>
												</div>
											</li>
										</ul>
									</div>
									<div class="col-lg-6 mt10">
										<ul class="s-d-2">
											<li class="f14"><span class="red">*</span>학교명</li>
											<li>
												<fieldset class="search">
													<legend>학교검색</legend>
													<input type="text" th:field="*{schGrad3}"title='입학대학교명 입력' placeholder="서울대학교"  readonly='readonly' class="inType01 w120 bgGray2"><a  href="#pop_dropOut" title="팝업띄움" class="ico_search"><span class="btn_Type06">검색</span></a>
												</fieldset>
											</li>
										</ul>
									</div>
									<div class="col-lg-6 mt10">
										<ul class="s-d-2">
											<li class="f14"><span class="red">*</span>소재지</li>
											<li>
												<input type="text" th:field="*{schSite3}" class="inType01 w180"  >
											</li> 
										</ul>
									</div>
								</div> 
								<div class="row mt10">
									<div class="col-lg-6">
										<ul class="s-d-2">
											<li class="f14"><span class="red">*</span>계열</li>
											<li>
												<input type="text" th:field="*{schAdmis3}" class="inType01 w180"  >
											</li>
										</ul>
									</div>
									<div class="col-lg-6 ">
										<ul class="s-d-2">
											<li class="f14"><span class="red">*</span>주간/야간</li>
											<li>
												<div class="custom-sel w180">
												  <select th:field="*{schNight3}">
													<option value="">선택해 주세요</option>
													<option value="주간">주간</option>
													<option value="야간">야간</option>
												  </select>
												</div>
											</li>
										</ul>
									</div>
								</div>
								<div class="row  mt10 pb30 bottom_line ">
									<div class="col-lg-12">
										<ul class="s-d-2 ">
											<li class="f14"><span class="red">*</span>재학기간</li>
											<li>
												<input type="text" id="schEnterYm3" th:field="*{schEnterYm3}"  class="inType01 w180 ls1" placeholder="YYYY-MM" >
											</li>
											<li class="ml10 mr10"> ~ </li>
											<li>
												<input type="text" id="schGradYm3" th:field="*{schGradYm3}"  class="inType01 w180 ls1" placeholder="YYYY-MM" >
											</li>
										</ul>
									</div>
								</div>
								<div class="row  mt30 ">
									<div class="col-lg-6 ">
										<ul class="s-d-2 ">
											<li class="f14"><span class="red">*</span>학과계열</li>
											<li>
												<div class="custom-sel w180">
												  <select th:field="*{schDepType3}">
													<option value="">선택해 주세요</option>
													<option value="상경">상경</option>
													<option value="법정">법정</option>
													<option value="식품">식품</option>
													<option value="사회과학">사회과학</option>
													<option value="인문">인문</option>
													<option value="어문">어문</option>
													<option value="자연">자연</option>
													<option value="이공">이공</option>
													<option value="자연과학">자연과학</option>
													<option value="교육">교육</option>
													<option value="예체능">예체능</option>
													<option value="기타">기타</option>
												  </select>
												</div>
											</li>
										</ul>
									</div>
									<div class="col-lg-6 ">
										<ul class="s-d-2 ">
											<li class="f14"><span class="red">*</span>전공</li>
											<li>
												<input type="text" th:field="*{schMajor3}" class="inType01 w180"  >
											</li>
										</ul>
									</div>
									
									<div class="col-lg-12 mt10">
										<ul class="s-d-2 ">
											<li class="f14"><span class="red">*</span>평점</li>
											<li>
												<input type="text" th:field="*{schSubPointEvg3}" class="inType01 w70 text-right"  >
											</li>
											<li class="ml10 mr10"> / </li>
											<li>
												4.5
											</li>
											<p class="gray f14 mt10 ">*평점은 4.5 만점으로 환산하여 입력해주세요.</p>
										</ul>
									</div>
								</div>						
							</div>
							<!-- (5)대학원 -->
							<p class="f23 fw600 mt80 pr">대학원</p> 
							<div class="r-box mt20">
								<div class="row">
									<div class="col-lg-12 ">
										<ul class="s-d-2">
											<li class="f14"><span class="red">*</span>졸업구분</li>
											<li>
												<div class="custom-sel w180">
												  <select th:field="*{schGrad4}">
													<option value="">선택해 주세요</option>
													<option value="졸업">졸업</option>
													<option value="예정">예정</option>
												  </select>
												</div>
											</li>
										</ul>

									</div>
									<div class="col-lg-6 mt10">
										<ul class="s-d-2">
											<li class="f14"><span class="red">*</span>학교명</li>
											<li>
												<fieldset class="search">
													<legend>학교검색</legend>
													<input type="text" th:field="*{schName4}" title='입학대학교명 입력' placeholder="서울대학교"  readonly='readonly' class="inType01 w120 bgGray2"><a  href="#pop_dropOut" title="팝업띄움" class="ico_search"><span class="btn_Type06">검색</span></a>
												</fieldset>
											</li>
										</ul>
									</div>
									<div class="col-lg-6 mt10">
										<ul class="s-d-2">
											<li class="f14"><span class="red">*</span>소재지</li>
											<li>
												<input type="text" th:field="*{schSite4}" class="inType01 w180"  >
											</li>
										</ul>
									</div>
								</div>
								<div class="row mt10">
									<div class="col-lg-6">
										<ul class="s-d-2">
											<li class="f14"><span class="red">*</span>계열</li>
											<li>
												<input type="text" th:field="*{schAdmis4}" class="inType01 w180"  >
											</li>
										</ul>
									</div>
									<div class="col-lg-6 ">
										<ul class="s-d-2">
											<li class="f14"><span class="red">*</span>주간/야간</li>
											<li>
												<div class="custom-sel w180">
												  <select th:field="*{schNight4}">
													<option value="">선택해 주세요</option>
													<option value="주간">주간</option>
													<option value="야간">야간</option>
												  </select>
												</div>
											</li>
										</ul>
									</div>
								</div>
								<div class="row  mt10 pb30 bottom_line ">
									<div class="col-lg-12">
										<ul class="s-d-2 ">
											<li class="f14"><span class="red">*</span>재학기간</li>
											<li>
												<input type="text" id="schEnterYm4" th:field="*{schEnterYm4}"  class="inType01 w180 ls1" placeholder="YYYY-MM" >
											</li>
											<li class="ml10 mr10"> ~ </li>
											<li>
												<input type="text" id="schGradYm4" th:field="*{schGradYm4}"  class="inType01 w180 ls1" placeholder="YYYY-MM" >
											</li>
										</ul>
									</div>
								</div>
								<div class="row  mt30 ">
									<div class="col-lg-6 ">
										<ul class="s-d-2 ">
											<li class="f14"><span class="red">*</span>학과계열</li>
											<li>
												<div class="custom-sel w180">
												  <select th:field="*{schDepType4}">
													<option value="">선택해 주세요</option>
													<option value="상경">상경</option>
													<option value="법정">법정</option>
													<option value="식품">식품</option>
													<option value="사회과학">사회과학</option>
													<option value="인문">인문</option>
													<option value="어문">어문</option>
													<option value="자연">자연</option>
													<option value="이공">이공</option>
													<option value="자연과학">자연과학</option>
													<option value="교육">교육</option>
													<option value="예체능">예체능</option>
													<option value="기타">기타</option>
												  </select>
												</div>
											</li>
										</ul>
									</div>
									<div class="col-lg-6 ">
										<ul class="s-d-2 ">
											<li class="f14"><span class="red">*</span>전공</li>
											<li>
												<input type="text" th:field="*{schMajor4}" class="inType01 w180"  >
											</li>
										</ul>
									</div>
									
									<div class="col-lg-12 mt10">
										<ul class="s-d-2 ">
											<li class="f14"><span class="red">*</span>평점</li>
											<li>
												<input type="text" th:field="*{schSubPointEvg4}" class="inType01 w70 text-right"  >
											</li>
											
											<li class="ml10 mr10"> / </li>
											<li>
												4.5
											</li>
											<p class="gray f14 mt10 ">*평점은 4.5 만점으로 환산하여 입력해주세요.</p>
										</ul>
									</div>
								</div>						
								<!-- 전공COPY -->
								<div class="w100 copybtn-box">
									<p class="f16 fw400 mt20 pr btn_copy ">
										<span>전공추가</span> 
										<input type="image" value=" 추가 " onclick="add_item3()" th:src="@{/img/ico_plus.png}">
									</p>
								</div>
							</div>
							<!-- (6)박사 -->
							<p class="f23 fw600 mt80 pr">박사</p> 
							<div class="r-box mt20">
								<div class="row">
									<div class="col-lg-12 ">
										<ul class="s-d-2">
											<li class="f14"><span class="red">*</span>졸업구분</li>
											<li>
												<div class="custom-sel w180">
												  <select th:field="*{schGrad5}">
													<option value="">선택해 주세요</option>
													<option value="졸업">졸업</option>
													<option value="예정">예정</option>
												  </select>
												</div>
											</li>
										</ul>
									</div>
									<div class="col-lg-6 mt10">
										<ul class="s-d-2">
											<li class="f14"><span class="red">*</span>학교명</li>
											<li>
												<fieldset class="search">
													<legend>학교검색</legend>
													<input type="text" th:field="*{schName5}" title='입학대학교명 입력' placeholder="서울대학교"  readonly='readonly' class="inType01 w120 bgGray2"><a  href="#pop_dropOut" title="팝업띄움" class="ico_search"><span class="btn_Type06">검색</span></a>
												</fieldset>
											</li>
										</ul>
									</div>
									<div class="col-lg-6 mt10">
										<ul class="s-d-2">
											<li class="f14"><span class="red">*</span>소재지</li>
											<li>
												<input type="text" th:field="*{schSite5}" class="inType01 w180"  >
											</li>
										</ul>
									</div>
								</div>
								<div class="row mt10">
									<div class="col-lg-6">
										<ul class="s-d-2">
											<li class="f14"><span class="red">*</span>계열</li>
											<li>
												<input type="text" th:field="*{schAdmis5}" class="inType01 w180"  >
											</li>
										</ul>
									</div>
									<div class="col-lg-6 ">
										<ul class="s-d-2">
											<li class="f14"><span class="red">*</span>주간/야간</li>
											<li>
												<div class="custom-sel w180">
												  <select th:field="*{schNight5}">
													<option value="">선택해 주세요</option>
													<option value="주간">주간</option>
													<option value="야간">야간</option>
												  </select>
												</div>
											</li>
										</ul>
									</div>
								</div>
								<div class="row  mt10 pb30 bottom_line ">
									<div class="col-lg-12">
										<ul class="s-d-2 ">
											<li class="f14"><span class="red">*</span>재학기간</li>
											<li>
												<input type="text" id="schEnterYm5" th:field="*{schEnterYm5}"  class="inType01 w180 ls1" placeholder="YYYY-MM" >
											</li>
											<li class="ml10 mr10"> - </li>
											<li>
												<input type="text" id="schGradYm5" th:field="*{schGradYm5}"  class="inType01 w180 ls1" placeholder="YYYY-MM" >
											</li>
										</ul>
									</div>
								</div>
								<div class="row  mt30 ">
									<div class="col-lg-6 ">
										<ul class="s-d-2 ">
											<li class="f14"><span class="red">*</span>학과계열</li>
											<li>
												<div class="custom-sel w180">
												  <select th:field="*{schDepType5}">
													<option value="">선택해 주세요</option>
													<option value="상경">상경</option>
													<option value="법정">법정</option>
													<option value="식품">식품</option>
													<option value="사회과학">사회과학</option>
													<option value="인문">인문</option>
													<option value="어문">어문</option>
													<option value="자연">자연</option>
													<option value="이공">이공</option>
													<option value="자연과학">자연과학</option>
													<option value="교육">교육</option>
													<option value="예체능">예체능</option>
													<option value="기타">기타</option>
												  </select>
												</div>
											</li>
										</ul>
									</div>
									<div class="col-lg-6 ">
										<ul class="s-d-2 ">
											<li class="f14"><span class="red">*</span>전공</li>
											<li>
												<input type="text" th:field="*{schMajor5}" class="inType01 w180"  >
											</li>
										</ul>
									</div>
									
									<div class="col-lg-12 mt10">
										<ul class="s-d-2 ">
											<li class="f14"><span class="red">*</span>평점</li>
											<li>
												<input type="text" th:field="*{schSubPointEvg5}" class="inType01 w70 text-right"  >
											</li>
											
											<li class="ml10 mr10"> / </li>
											<li>
												4.5
											</li>
											<p class="gray f14 mt10 ">*평점은 4.5 만점으로 환산하여 입력해주세요.</p>
										</ul>
									</div>
								</div>						
								<!-- 전공COPY -->
								<div class="w100 copybtn-box">
									<p class="f16 fw400 mt20 pr btn_copy ">
										<span>전공추가</span> 
										<input type="image" value=" 추가 " onclick="add_item4()" th:src="@{/img/ico_plus.png}">
									</p>
								</div>
							</div>
							<!-- //(6)박사 -->
							<div class="w100 mt30">
								<a th:href="|@{/application/personalInfo}?idx=${app.idx}|"><p class="f_left f20"><img th:src="@{/img/btn_prev.png}" alt="개인정보" /> 개인정보</p></a>
								<button type="submit" class="f_right"><p class=" f20">학력정보 <img th:src="@{/img/btn_next.png}" alt="어학정보" /></p></button>
							</div>
						</form>
						</div><!-- //wrap860 -->
					</div><!-- //memberWrapBase -->
				</div><!-- //container1300 -->
			</div><!-- //container100 -->
		</section>
		<!-- ================================ 
				// Content 
		================================ -->
	</div><!-- //wrap bg_01 -->

<!-- ================================ Footer ================================ -->
<footer class="container100 center bgGray" th:replace="fragments/mainFooter :: footerFragment"></footer>
<!-- ================================ // Footer ================================ -->
<script>
$(".ls1").keyup(function() {
		
    if( this.value.length > 8){
         this.value = this.value.substr(0, 8);
     }
     var val         = this.value.replace(/\D/g, '');
     var original    = this.value.replace(/\D/g, '').length;
     var conversion  = '';
     for(i=0;i<2;i++){
         if (val.length > 4 && i===0) {
             conversion += val.substr(0, 4) + '-';
             val         = val.substr(4);
         }
         else if(original>6 && val.length > 2 && i===1){
             conversion += val.substr(0, 2) + '-';
             val         = val.substr(2);
         }
     }
     conversion += val;
     this.value = conversion;
     
 });
 /*[- end of function -]*/
 
</script>
</body>
</html>