<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<title>정식품 채용</title>
<head th:replace="fragments/head :: headFragment"></head>
<!-- add css -->
<link rel='stylesheet' href='https://cdn.rawgit.com/filamentgroup/fixed-sticky/master/fixedsticky.css'>
<link th:href="@{/common/css/modality.css}" rel="stylesheet">
<!-- add js -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdn.rawgit.com/filamentgroup/fixed-sticky/master/fixedsticky.js'></script>
<script th:src="@{/common/js/jquery.repeater.min.js}"></script>
<script>
	$(document).ready(function(){
		$( '.sidebar' ).fixedsticky();
	});
</script>
<body>
	<div class="wrap">
		<!-- ================================ Header ================================ -->
		<header class="subColor" th:replace="fragments/mainHeader :: headerFragment"></header>
		<!-- ================================ // Header ================================ -->
		<!-- ================================ Content ================================ -->
		<section>
			<div class="container100">
				<div class="nav">
					<div class="container1300 center">
						<a href="/"><span class="round">HOME</span></a><img class="arrow" th:src="@{/img/arrow.png}" alt="화살표" /><a href="/mypage/list"><span class="round">마이페이지</span></a>
					</div>
				</div>
				<div class="container1300 center" >
					<div class="memberWrapBase">
						<div class="sidebar fixedsticky w350 f-left">
							<p class="f23 fw600 ">지원서 작성</p>
							<p class="f38 fw600 line-height120 ls-2 mt20" th:if="${app.setupTitle} != null and ${app.setupTitle} != ''" th:text="${app.setupTitle}"></p>
							<ul class="mt70 writeList">
								<li class="w-after"><a th:href="|@{/application/personalInfo}?idx=${app.idx}|">개인정보</a></li>
								<li class="w-after"><a th:href="|@{/application/academy}?idx=${app.idx}|">학력정보</a></li>
								<li class="w-after"><a th:href="|@{/application/qualification}?idx=${app.idx}|">어학/자격/기타</a></li>
								<li class="w-ing"><a th:href="|@{/application/career}?idx=${app.idx}|">경력사항</a></li>
								<li class="w-before"><a th:href="|@{/application/introduce}?idx=${app.idx}|">자기소개</a></li>
							</ul>
							<p class="btn_type03 mt10"><a onclick="javascript:updateCareer();">임시저장</a></p>
						</div>
						<div class="wrap860 f-right" >
						<form th:action="@{/application/registerCareer}" id="careerForm" th:object="${app}" method="post" enctype="multipart/form-data">
							<input type="hidden" th:field="*{idx}" />
							<input type="hidden" th:field="*{setupTh}" />
							<!-- (1)인턴경력 -->
							<p class="f23 fw600 pr">인턴경력</p>
							<div id="field1"> 
								<div class="r-box mt20">
									<div class="row">
										<div class="col-lg-12 ">
											<ul class="s-d-2">
												<li class="f14">근무기간</li>
												<li>
													<input type="text" th:id="internSDate" th:name="internSDate"  class="inType01 w180 ls2" placeholder="YYYY-MM" >
												</li>
												<li class="ml20 mr20"> ~ </li>
												<li>
													<input type="text" th:id="internEDate" th:name="internEDate"  class="inType01 w180 ls2" placeholder="YYYY-MM" >
												</li>
												<li class="ml30">
													<label><input type="checkbox" th:id="internIng" th:name="internIng"> 재직중</label>
												</li>
											</ul>
										</div>
										<div class="col-lg-6 mt10">
											<ul class="s-d-2">
												<li class="f14">직장명</li>
												<li>
													<input type="text" th:id="internName" th:name="internName"  class="inType01 w180" maxlength="5" >
												</li>
											</ul>
										</div>
										<div class="col-lg-6 mt10">
											<ul class="s-d-2">
												<li class="f14">담당업무</li>
												<li>
													<input type="text" th:id="internDuty" th:name="internDuty"  class="inType01 w180"  >
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div><!-- field1 -->

							<!-- (2)근무경력 -->
							<div id="field2">
							<p class="f23 fw600 pr mt80">근무경력 <button type="button" class="selPlus" value="추가 " data-repeater-create><img th:src="@{/img/ico_plus.png}" alt="수정"/></button></p>
							<input type="hidden" th:field="*{hisCount}"/>
								<div data-repeater-list="his">
                                <div data-repeater-item th:each="num : ${#numbers.sequence(1,app.hisCount)}">
								<div class="r-box mt20">
									<div class="row">
										<div class="col-lg-12 ">
											<ul class="s-d-2">
												<li class="f14">근무기간</li>
												<li>
													<input type="text" th:id="hisSDate" th:name="hisSDate"  class="inType01 w180 ls2" placeholder="YYYY-MM" >
												</li>
												<li class="ml20 mr20"> ~ </li>
												<li>
													<input type="text" th:id="hisEDate" th:name="hisEDate"  class="inType01 w180 ls2" placeholder="YYYY-MM" >
												</li>
												<li class="ml30">
													<label><input type="checkbox" th:id="hisIng" th:name="hisIng"> 재직중</label>
												</li>
											</ul>
										</div>
										<div class="col-lg-6 mt10">
											<ul class="s-d-2">
												<li class="f14">직장명</li>
												<li>
													<input type="text" th:id="hisCoName" th:name="hisCoName" class="inType01 w180"  >
												</li>
											</ul>
										</div>
										<div class="col-lg-6 mt10">
											<ul class="s-d-2">
												<li class="f14">담당업무</li>
												<li>
													<input type="text" th:id="hisDuty" th:name="hisDuty" class="inType01 w180"  >
												</li>
											</ul>
										</div>
										<div class="col-lg-6 mt10">
											<ul class="s-d-2">
												<li class="f14">(월)평균급여</li>
												<li>
													<input type="text" th:id="hisPay" th:name="hisPay" class="inType01 w180 text-right"  > <span class="gray f14">만원</span>
												</li>
											</ul>
										</div>
										
									</div>
									<div class="row">
										<div class="col-lg-12 mt10">
											<ul class="s-d-2">
												<li class="f14">주요업무</li>
												<li>
													<textarea type="text" class="areaType01" th:id="hisContent" th:name="hisContent"  placeholder="200자 이내로 작성해 주세요." ></textarea>
													<div class="mt10 f14 gray f_right mr40" name="cnt" id="cnt">(0/200)</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<button class="inputDel3" type="button" value="삭제" data-repeater-delete><img th:src="@{/img/ico_inputDel2.png}" alt="삭제"/></button>
								</div>
								</div>
							</div><!-- field2 -->

							<!-- (3)포트폴리오 -->
							<!-- <p class="f23 fw600 pr mt80">포트폴리오(디자인)</p> -->
							<div class="r-box mt20" style="display:none;">
								<div class="row">
									<div class="col-lg-12 ">
										<ul class="s-d-2">
											<li class="f14">URL</li>
											<li>
												<input type="text" class="inType01 w580" th:field="*{portUrl}" placeholder="http:// 제외한 URL 주소를 입력해 주세요." >
											</li>
										</ul>
									</div>
									<div class="col-lg-12 mt10">
										<ul class="s-d-2">
											<li class="f14">파일업로드</li>
											<li>
												<div class="filebox w600">
												<input class="upload-name" th:value="*{portFile}" placeholder="파일용량 10mb이하 / 가능 파일 PDF, ZIP / 파일명에 성명기재">
												<label for="fileName">파일선택</label><input type="file" accept=".pdf,.zip" id="fileName" name="fileName">
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- 포트폴리오 -->

							<div class="w100 mt30">
								<a th:href="|@{/application/qualification}?idx=${app.idx}|">
								<p class="f_left f20"><img th:src="@{/img/btn_prev.png}" alt="어학/자격/기타" /> 어학/자격/기타</p></a>
								<button type="submit" class="f_right"><p class="f_right f20">자기소개 <img th:src="@{/img/btn_next.png}" alt="다음" /></p></button>
							</div>
							</form>
							<!-- ================================ 
								Input File명이 노출되도록
							================================ -->
							<script>
								$("#portFile").on('change',function(){
								  var fileName = $("#portFile").val();
								  $(".upload-name").val(fileName);
								});
							</script>
						</div><!-- //wrap860 -->
					</div><!-- //memberWrapBase -->
				</div><!-- //container1300 -->
			</div><!-- //container100 -->
		</section>
		<!-- ================================ 
				// Content 
		================================ -->
	</div><!-- //wrap bg_01 -->
	<!-- 이력서미리보기 
	<th:block  th:replace="fragments/resumeView :: resumeFragment"></th:block >
	<script th:src="@{/common/js/modality.js}"></script>
	<script>
	    var modal = Modality.init('#pop_view', { effect: 'slide-up' }); // 팝업_미리보기
	</script>
	 -->

<!-- ================================ Footer ================================ -->
<footer class="container100 center bgGray" th:replace="fragments/mainFooter :: footerFragment"></footer>
<!-- ================================ // Footer ================================ -->
<script th:src="@{/common/js/career.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
$(document).ready(function(){
		
	var hisCount = /*[[ ${app.hisCount} ]]*/;
	var hisIng1 = /*[[ ${app.hisIng1} ]]*/;
	var hisIng2 = /*[[ ${app.hisIng2} ]]*/;
	var hisIng3 = /*[[ ${app.hisIng3} ]]*/;
	var internIng = /*[[ ${app.internIng} ]]*/;
	
	//인턴
	if(internIng == 'on') {
		$("input:checkbox[id='internIng']").prop("checked", true);
	} else {
		$("input:checkbox[id='internIng']").prop("checked", false);
	}
	$("input[name='internName']").val(/*[[ ${app.internName} ]]*/);
	$("input[name='internSDate']").val(/*[[ ${app.internSDate} ]]*/);
	$("input[name='internEDate']").val(/*[[ ${app.internEDate} ]]*/);
	$("input[name='internDuty']").val(/*[[ ${app.internDuty} ]]*/);
	
	if(hisCount == 1) {
		$("input[name='hisCoName1']").val(/*[[ ${app.hisCoName1} ]]*/);
		if(hisIng1 == 'on') {
			$("input:checkbox[id='hisIng1']").prop("checked", true);
		} else {
			$("input:checkbox[id='hisIng1']").prop("checked", false);
		}
		$("input[name='hisSDate1']").val(/*[[ ${app.hisSDate1} ]]*/);
		$("input[name='hisEDate1']").val(/*[[ ${app.hisEDate1} ]]*/);
		$("#hisContent1").val(/*[[ ${app.hisContent1} ]]*/);
		$("input[name='hisDuty1']").val(/*[[ ${app.hisDuty1} ]]*/);
		$("input[name='hisPay1']").val(/*[[ ${app.hisPay1} ]]*/);
	} else if(hisCount == 2) {
		$("input[name='hisCoName1']").val(/*[[ ${app.hisCoName1} ]]*/);
		if(hisIng1 == '1') {
			$("input:checkbox[id='hisIng1']").prop("checked", true);
		} else {
			$("input:checkbox[id='hisIng1']").prop("checked", false);
		}
		$("input[name='hisSDate1']").val(/*[[ ${app.hisSDate1} ]]*/);
		$("input[name='hisEDate1']").val(/*[[ ${app.hisEDate1} ]]*/);
		$("#hisContent1").val(/*[[ ${app.hisContent1} ]]*/);
		$("input[name='hisDuty1']").val(/*[[ ${app.hisDuty1} ]]*/);
		$("input[name='hisPay1']").val(/*[[ ${app.hisPay1} ]]*/);
		
		$("input[name='hisCoName2']").val(/*[[ ${app.hisCoName2} ]]*/);
		if(hisIng2 == 'on') {
			$("input:checkbox[id='hisIng2']").prop("checked", true);
		} else {
			$("input:checkbox[id='hisIng2']").prop("checked", false);
		}
		$("input[name='hisSDate2']").val(/*[[ ${app.hisSDate2} ]]*/);
		$("input[name='hisEDate2']").val(/*[[ ${app.hisEDate2} ]]*/);
		$("#hisContent2").val(/*[[ ${app.hisContent2} ]]*/);
		$("input[name='hisDuty2']").val(/*[[ ${app.hisDuty2} ]]*/);
		$("input[name='hisPay2']").val(/*[[ ${app.hisPay2} ]]*/);
	} else if(hisCount == 3) {
		$("input[name='hisCoName1']").val(/*[[ ${app.hisCoName1} ]]*/);
		if(hisIng1 == '1') {
			$("input:checkbox[id='hisIng1']").prop("checked", true);
		} else {
			$("input:checkbox[id='hisIng1']").prop("checked", false);
		}
		$("input[name='hisSDate1']").val(/*[[ ${app.hisSDate1} ]]*/);
		$("input[name='hisEDate1']").val(/*[[ ${app.hisEDate1} ]]*/);
		$("#hisContent1").val(/*[[ ${app.hisContent1} ]]*/);
		$("input[name='hisDuty1']").val(/*[[ ${app.hisDuty1} ]]*/);
		$("input[name='hisPay1']").val(/*[[ ${app.hisPay1} ]]*/);
		$("input[name='hisCoName2']").val(/*[[ ${app.hisCoName2} ]]*/);
		if(hisIng2 == 'on') {
			$("input:checkbox[id='hisIng2']").prop("checked", true);
		} else {
			$("input:checkbox[id='hisIng2']").prop("checked", false);
		}
		$("input[name='hisSDate2']").val(/*[[ ${app.hisSDate2} ]]*/);
		$("input[name='hisEDate2']").val(/*[[ ${app.hisEDate2} ]]*/);
		$("#hisContent2").val(/*[[ ${app.hisContent2} ]]*/);
		$("input[name='hisDuty2']").val(/*[[ ${app.hisDuty2} ]]*/);
		$("input[name='hisPay2']").val(/*[[ ${app.hisPay2} ]]*/);
		$("input[name='hisCoName3']").val(/*[[ ${app.hisCoName3} ]]*/);
		if(hisIng3 == 'on') {
			$("input:checkbox[id='hisIng3']").prop("checked", true);
		} else {
			$("input:checkbox[id='hisIng3']").prop("checked", false);
		}
		$("input[name='hisSDate3']").val(/*[[ ${app.hisSDate3} ]]*/);
		$("input[name='hisEDate3']").val(/*[[ ${app.hisEDate3} ]]*/);
		$("#hisContent3").val(/*[[ ${app.hisContent3} ]]*/);
		$("input[name='hisDuty3']").val(/*[[ ${app.hisDuty3} ]]*/);
		$("input[name='hisPay3']").val(/*[[ ${app.hisPay3} ]]*/);
	}
	
	$('#hisContent1').on('keyup', function() {
		$('#cnt1').html("("+$(this).val().length+" / 100)");
		 
		if($(this).val().length > 100) {
			$(this).val($(this).val().substring(0, 100));
			$('#cnt1').html("(100 / 100)");
		}
	});

	$('#hisContent2').on('keyup', function() {
		$('#cnt2').html("("+$(this).val().length+" / 100)");
		 
		if($(this).val().length > 100) {
			$(this).val($(this).val().substring(0, 100));
			$('#cnt2').html("(100 / 100)");
		}
	});

	$('#hisContent3').on('keyup', function() {
		$('#cnt3').html("("+$(this).val().length+" / 100)");
		 
		if($(this).val().length > 100) {
			$(this).val($(this).val().substring(0, 100));
			$('#cnt3').html("(100 / 100)");
		}
	});
	
	$("#internIng").change(function(){
	    if($("#internIng").is(":checked")){
	        $('#internEDate').prop("disabled", true); 
	    }else{
	        $('#internEDate').prop("disabled", false); 
	    }
	});
	
	$("#hisIng1").change(function(){
	    if($("#hisIng1").is(":checked")){
	        $('#hisEDate1').prop("disabled", true); 
	    }else{
	        $('#hisEDate1').prop("disabled", false); 
	    }
	});

	$("#hisIng2").change(function(){
	    if($("#hisIng2").is(":checked")){
	        $('#hisEDate2').prop("disabled", true); 
	    }else{
	        $('#hisEDate2').prop("disabled", false); 
	    }
	});

	$("#hisIng3").change(function(){
	    if($("#hisIng3").is(":checked")){
	        $('#hisEDate3').prop("disabled", true); 
	    }else{
	        $('#hisEDate3').prop("disabled", false); 
	    }
	});
		
});
/*]]>*/
</script>
</body>
</html>