<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<title>정식품 채용</title>
<head th:replace="fragments/head :: headFragment">
<!-- add css -->
<link rel='stylesheet' href='https://cdn.rawgit.com/filamentgroup/fixed-sticky/master/fixedsticky.css'>
<link th:href="@{/common/css/modality.css}" rel="stylesheet">
<!-- add js -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdn.rawgit.com/filamentgroup/fixed-sticky/master/fixedsticky.js'></script>
</head>
<body>
	<div class="wrap">
		<!-- ================================ Header ================================ -->
		<header class="subColor" th:replace="fragments/mainHeader :: headerFragment"></header>
		<!-- ================================ // Header ================================ -->
		<!-- ================================ Content ================================ -->
		<section>
			<div class="container100">
				<div class="nav">
					<div class="container1300 center">
						<a href="/"><span class="round">HOME</span></a><img class="arrow" th:src="@{/img/arrow.png}" alt="화살표" /><a href="/mypage/list"><span class="round">마이페이지</span></a>
					</div>
				</div>

				<div class="container100" >
					<div class="memberWrapBase text-center bgSky">
						<p class=""><img th:src="@{/img/send.png}"/></p>
						<p class="f36 fw600 mt50 line-height120 ls-2">입사지원서가 성공적으로 제출 완료되었습니다.<br>지원해 주셔서 감사합니다.</p>
						<p class="f20 fw400 gray line-height140 mt30">서류전형 결과는 전형 일정 종료 후<br>등록된 e-mail 및 (주)정식품 채용 홈페이지를 통하여 확인 가능합니다.</p>
						<ul class="sendUL">
							<li class="f20 fw600 text-left">입사지원 정보</li>
							<li class="f20 fw600">
								<dl>
									<dt>공고명</dt>
									<dd th:text="${setupTitle}"></dd>
								</dl>
							</li>
							<li class="f20 fw600">
								<dl>
									<dt>성명</dt>
									<dd th:text="${memName}"></dd>
								</dl>
							</li>
							<li class="f20 fw600">
								<dl>
									<dt>제출일</dt>
									<dd th:text="${submitDate}"></dd>
								</dl>
							</li>
						</ul>
						<p class="btn_type01 mt30 w230"><a href="#pop_view">지원서 보기</a></p>
					</div><!-- //memberWrapBase -->
				</div><!-- //container1300 -->
			</div><!-- //container100 -->
		</section>
		<!-- ================================ 
				// Content 
		================================ -->
	</div><!-- //wrap bg_01 -->
	<!-- 이력서미리보기 -->
	<div th:replace="fragments/resumeView :: resumeFragment"></div>
	<script th:src="@{/common/js/modality.js}"></script>
	<!-- 팝업 script -->
	<script>
	    var modal = Modality.init('#pop_view', { effect: 'slide-up' }); // 팝업_미리보기
	</script>
	<!-- //팝업 script -->

<!-- ================================ Footer ================================ -->
<footer class="container100 center bgGray" th:replace="fragments/mainFooter :: footerFragment"></footer>
<!-- ================================ // Footer ================================ -->
</body>
</html>