<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<title>정식품 채용</title>
<head th:replace="fragments/head :: headFragment">
<!-- add css -->
<link rel='stylesheet' href='https://cdn.rawgit.com/filamentgroup/fixed-sticky/master/fixedsticky.css'>
<link th:href="@{/common/css/modality.css}" rel="stylesheet">
<!-- add js -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdn.rawgit.com/filamentgroup/fixed-sticky/master/fixedsticky.js'></script>
</head>
<body>
	<div class="wrap">
		<!-- ================================ Header ================================ -->
		<header class="subColor" th:replace="fragments/mainHeader :: headerFragment"></header>
		<!-- ================================ // Header ================================ -->
		<!-- ================================ Content ================================ -->
		<section>
			<div class="container100">
				<div class="nav">
					<div class="container1300 center">
						<a href="#"><span class="round">HOME</span></a><img class="arrow" th:src="@{/img/arrow.png}" alt="화살표" /><a href="#"><span class="round">마이페이지</span></a>
					</div>
				</div>
				

				<div class="container1300 center" >
					<div class="memberWrapBase ">
						<div class="sidebar fixedsticky w350 f-left">
							<p class="f23 fw600">지원서 작성</p>
							<p class="f38 fw600 line-height120 ls-2 mt20">정식품 2022년<br>하반기 신입, 경력사원<br>공채 모집</p>
							<ul class="mt70 writeList">
								<li class="w-after"><a href="write01.html">개인정보</a></li>
								<li class="w-after"><a href="write02.html">학력정보</a></li>
								<li class="w-ing"><a href="write03.html">어학/자격/기타</a></li>
								<li class="w-before"><a href="write04.html">경력사항</a></li>
								<li class="w-before"><a href="write05.html">자기소개</a></li>
							</ul>
							<p class="btn_type02 mt30"><a href="reView.html">미리보기</a></p>
							<p class="btn_type03 mt10"><a href="#">임시저장</a></p>
						</div>
						<script>
							$(document).ready(function(){
								$( '.sidebar' ).fixedsticky();
							});
						</script>
						<div class="wrap860 f-right" >
							<!-- (1)어학 -->
							<p class="f23 fw600 pr">어학 <input type="image" class="selPlus" value=" 추가 " onclick="add_item1()" th:src="@{/img/ico_plus.png}"></p>
							<div id="field1"> 
								<div class="r-box mt20">
									<div class="row">
										<div class="col-lg-6 ">
											<ul class="s-d-2">
												<li class="f14">외국어</li>
												<li>
													<div class="custom-sel scroll w180">
													  <select class="base w180">
														<option value="선택해 주세요">선택해 주세요</option>
														<option value="영어">영어</option>
														<option value="중국어">중국어</option>
														<option value="일본어">일본어</option>
														<option value="프랑스어">프랑스어</option>
														<option value="스페인어">스페인어</option>
														<option value="독일어">독일어</option>
														<option value="이탈리아어">이탈리아어</option>
														<option value="러시아어">러시아어</option>
													  </select>
													</div>
												</li>
											</ul>
										</div>
										<div class="col-lg-6 ">
											<ul class="s-d-2">
												<li class="f14">공인시험</li>
												<li>
													<div class="custom-sel scroll w180">
														<select class="base w180">
															<!-- *한화인채용 어학정보 https://www.hanwhain.com/web/index.do -->
															<!-- 영어 -->
															<option value="선택해 주세요">선택해 주세요</option>
															<option value="BULATS">BULATS</option>
															<option value="CILISAT">CILISAT</option>
															<option value="Cambridge CAE">Cambridge CAE</option>
															<option value="Cambridge FCE">Cambridge FCE</option>
															<option value="Cambridge FCE - 등급제">Cambridge FCE - 등급제</option>
															<option value="Duolingo English Test">Duolingo English Test</option>
															<option value="ECL 유럽공인어학시험">ECL 유럽공인어학시험</option>
															<option value="FLEX(듣기,읽기)">FLEX(듣기,읽기)</option>
															<option value="FLEX(말하기)">FLEX(말하기)</option>
															<option value="FLEX(쓰기)">FLEX(쓰기)</option>
															<option value="G-TELP">G-TELP</option>
															<option value="G-TELP Speaking">G-TELP Speaking</option>
															<option value="G-TELP Writing">G-TELP Writing</option>
															<option value="GMAT">GMAT</option>
															<option value="GRE">GRE</option>
															<option value="IELTS">IELTS</option>
															<option value="NEW TEPS">NEW TEPS</option>
															<option value="OPIc">OPIc</option>
															<option value="PET">PET</option>
															<option value="SNULT">SNULT</option>
															<option value="SPA">SPA</option>
															<option value="TEPS">TEPS</option>
															<option value="TOEFL CBT">TOEFL CBT</option>
															<option value="TOEFL ITP">TOEFL ITP</option>
															<option value="TOEFL PBT">TOEFL PBT</option>
															<option value="TOEFL iBT">TOEFL iBT</option>
															<option value="TOEIC">TOEIC</option>
															<option value="TOEIC Speaking">TOEIC Speaking</option>
															<option value="G-TELP Speaking">TOEIC Writing</option>
															<option value="G-TELP Speaking">무역영어</option>
															<!-- //영어 -->
															<!-- 중국어 -->
															<option value="선택해 주세요">선택해 주세요</option>
															<option value="BCT">BCT</option>
															<option value="BCT Speaking">BCT Speaking</option>
															<option value="CPT">CPT</option>
															<option value="FLEX(듣기,읽기)">FLEX(듣기,읽기)</option>
															<option value="FLEX(말하기)">FLEX(말하기)</option>
															<option value="FLEX(쓰기)">FLEX(쓰기)</option>
															<option value="HSK">HSK</option>
															<option value="ITT">ITT</option>
															<option value="OPIc">OPIc</option>
															<option value="SNULT">SNULT</option>
															<option value="TSC">TSC</option>
															<option value="新BCT">新BCT</option>
															<option value="新HSK">新HSK</option>
															<option value="新HSK 고급회화">新HSK 고급회화</option>
															<option value="新HSK 중급회화">新HSK 중급회화</option>
															<!-- //중국어 -->
															<!-- 일본어 -->
															<option value="선택해 주세요">선택해 주세요</option>
															<option value="BJT">BJT</option>
															<option value="EJU">EJU</option>
															<option value="FLEX(듣기,읽기)">FLEX(듣기,읽기)</option>
															<option value="FLEX(말하기)">FLEX(말하기)</option>
															<option value="FLEX(쓰기)">FLEX(쓰기)</option>
															<option value="JLPT">JLPT</option>
															<option value="JPT">JPT</option>
															<option value="JTRA">JTRA</option>
															<option value="OPIc">OPIc</option>
															<option value="SJPT">SJPT</option>
															<option value="SNULT">SNULT</option>
															<!-- //일본어 -->
															<!-- 프랑스어 -->
															<option value="선택해 주세요">선택해 주세요</option>
															<option value="DALF">DALF</option>
															<option value="DELF">DELF</option>
															<option value="FLEX(듣기,읽기)">FLEX(듣기,읽기)</option>
															<option value="FLEX(말하기)">FLEX(말하기)</option>
															<option value="FLEX(쓰기)">FLEX(쓰기)</option>
															<option value="OPI">OPI</option>
															<option value="SNULT">SNULT</option>
															<option value="TCF">TCF</option>
															<!-- //프랑스어 -->
															<!-- 스페인어 -->
															<option value="선택해 주세요">선택해 주세요</option>
															<option value="DELE">DELE</option>
															<option value="FLEX(듣기,읽기)">FLEX(듣기,읽기)</option>
															<option value="FLEX(말하기)">FLEX(말하기)</option>
															<option value="FLEX(쓰기)">FLEX(쓰기)</option>
															<option value="OPIc">OPIc</option>
															<option value="SNULT">SNULT</option>
															<!-- //스페인어 -->
															<!-- 스페인어 -->
															<option value="선택해 주세요">선택해 주세요</option>
															<option value="DELE">DELE</option>
															<option value="FLEX(듣기,읽기)">FLEX(듣기,읽기)</option>
															<option value="FLEX(말하기)">FLEX(말하기)</option>
															<option value="FLEX(쓰기)">FLEX(쓰기)</option>
															<option value="OPIc">OPIc</option>
															<option value="SNULT">SNULT</option>
															<!-- //스페인어 -->
															<!-- 독일어 -->
															<option value="선택해 주세요">선택해 주세요</option>
															<option value="DSH">DSH</option>
															<option value="Deutsches Sprachdiplom(DSD)">Deutsches Sprachdiplom(DSD)</option>
															<option value="FLEX(듣기,읽기)">FLEX(듣기,읽기)</option>
															<option value="FLEX(말하기)">FLEX(말하기)</option>
															<option value="FLEX(쓰기)">FLEX(쓰기)</option>
															<option value="Goethe Zertifikat">Goethe Zertifikat</option>
															<option value="OPI">OPI</option>
															<option value="SNULT">SNULT</option>
															<option value="TELC">TELC</option>
															<option value="Test DaF">Test DaF</option>
															<option value="Zertifikat Deutsch(ZD)">Zertifikat Deutsch(ZD)</option>
															<!-- //독일어 -->
															<!-- 이탈리아어 -->
															<option value="선택해 주세요">선택해 주세요</option>
															<option value="CELI">CELI</option>
															<option value="CILS">CILS</option>
															<option value="FLEX">FLEX</option>
															<!-- //이탈리아어 -->
															<!-- 러시아어 -->
															<option value="선택해 주세요">선택해 주세요</option>
															<option value="FLEX(듣기,읽기)">FLEX(듣기,읽기)</option>
															<option value="FLEX(말하기)">FLEX(말하기)</option>
															<option value="FLEX(쓰기)">FLEX(쓰기)</option>
															<option value="OPIc">OPIc</option>
															<option value="SNULT">SNULT</option>
															<option value="FLTORFL(토르플)EX">TORFL(토르플)</option>
															<!-- //러시아어 -->
														</select>
													</div>
												</li>
											</ul>
										</div>
										<div class="col-lg-6 mt10">
											<ul class="s-d-2">
												<li class="f14">점수</li>
												<li>
													<input type="text" class="inType01 w180"  >
												</li>
											</ul>
										</div>
										<div class="col-lg-6 mt10">
											<ul class="s-d-2">
												<li class="f14">등급</li>
												<li>
													<input type="text" class="inType01 w180"  >
												</li>
											</ul>
										</div>
									</div>
									<div class="row mt10">
										<div class="col-lg-6">
											<ul class="s-d-2">
												<li class="f14">발급번호</li>
												<li>
													<input type="text" class="inType01 w180"  >
												</li>
											</ul>
										</div>
										<div class="col-lg-6 ">
											<ul class="s-d-2">
												<li class="f14">취득일</li>
												<li>
													<div class="custom-sel------- scroll ">
													 <select class="base ">
														<option value="년도">년도</option>
														<option value="2022">2022</option>
														<option value="2021">2021</option>
														<option value="2020">2020</option>
														<option value="2019">2019</option>
														<option value="2018">2018</option>
														<option value="2018">2017</option>
														<option value="2018">2016</option>
													  </select>
													</div>
												</li>
												<li>
													<div class="custom-sel------- scroll ">
														<select class="base">
															<option value="월">월</option>
															<option value="12">12</option>
															<option value="11">11</option>
															<option value="10">10</option>
															<option value="09">09</option>
															<option value="08">08</option>
															<option value="07">07</option>
															<option value="06">06</option>
															<option value="05">05</option>
															<option value="04">04</option>
															<option value="03">03</option>
															<option value="02">02</option>
															<option value="01">01</option>
														</select>
													</div>
												</li>
												<li>
													<div class="custom-sel------ scroll ">
														<select class="base">
															<option value="일">일</option>
															<option value="12">12</option>
															<option value="11">11</option>
															<option value="10">10</option>
															<option value="09">09</option>
															<option value="08">08</option>
															<option value="07">07</option>
															<option value="06">06</option>
															<option value="05">05</option>
															<option value="04">04</option>
															<option value="03">03</option>
															<option value="02">02</option>
															<option value="01">01</option>
														</select>
													</div>
												</li>
											</ul>
										</div>
									</div>
									<div class="row mt10">
										<div class="col-lg-6">
											<ul class="s-d-2">
												<li class="f14">회화</li>
												<li class="btn-acc2">
													<button>상</button>
													<button>중</button>
													<button>하</button>
												</li>
											</ul>
										</div>
										<div class="col-lg-6">
											<ul class="s-d-2">
												<li class="f14">작문</li>
												<li class="btn-acc2">
													<button>상</button>
													<button>중</button>
													<button>하</button>
												</li>
											</ul>
										</div>
									</div>
									<div class="row mt10">
										<div class="col-lg-6">
											<ul class="s-d-2">
												<li class="f14">독해</li>
												<li class="btn-acc2">
													<button>상</button>
													<button>중</button>
													<button>하</button>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div><!-- field1 -->
							<!-- (1)어학 COPY -->
							<div id="pre_set1" style="display:none">
								<div class="r-box mt20">
									<div class="row">
										<div class="col-lg-6 ">
											<ul class="s-d-2">
												<li class="f14">외국어</li>
												<li>
													<div class="custom-sel---------- scroll w180">
													  <select class="base w180">
														<option value="선택해 주세요">선택해 주세요</option>
														<option value="영어">영어</option>
														<option value="중국어">중국어</option>
														<option value="일본어">일본어</option>
														<option value="프랑스어">프랑스어</option>
														<option value="스페인어">스페인어</option>
														<option value="독일어">독일어</option>
														<option value="이탈리아어">이탈리아어</option>
														<option value="러시아어">러시아어</option>
														<option value="기타">기타</option>
													  </select>
													</div>
												</li>
											</ul>
										</div>
										<div class="col-lg-6 ">
											<ul class="s-d-2">
												<li class="f14">공인시험</li>
												<li>
													<div class="custom-sel---------- scroll w180">
														<select class="base w180">
															<option value="선택해 주세요">선택해 주세요</option>
															<option value="BULATS">BULATS</option>
															<option value="CILISAT">CILISAT</option>
															<option value="Cambridge CAE">Cambridge CAE</option>
															<option value="Cambridge FCE">Cambridge FCE</option>
															<option value="Cambridge FCE - 등급제">Cambridge FCE - 등급제</option>
															<option value="Duolingo English Test">Duolingo English Test</option>
															<option value="ECL 유럽공인어학시험">ECL 유럽공인어학시험</option>
															<option value="FLEX(듣기,읽기)">FLEX(듣기,읽기)</option>
															<option value="FLEX(말하기)">FLEX(말하기)</option>
															<option value="FLEX(쓰기)">FLEX(쓰기)</option>
															<option value="G-TELP">G-TELP</option>
															<option value="G-TELP Speaking">G-TELP Speaking</option>
															<option value="G-TELP Writing">G-TELP Writing</option>
															<option value="GMAT">GMAT</option>
															<option value="GRE">GRE</option>
															<option value="IELTS">IELTS</option>
															<option value="NEW TEPS">NEW TEPS</option>
															<option value="OPIc">OPIc</option>
															<option value="PET">PET</option>
															<option value="SNULT">SNULT</option>
															<option value="SPA">SPA</option>
															<option value="TEPS">TEPS</option>
															<option value="TOEFL CBT">TOEFL CBT</option>
															<option value="TOEFL ITP">TOEFL ITP</option>
															<option value="TOEFL PBT">TOEFL PBT</option>
															<option value="TOEFL iBT">TOEFL iBT</option>
															<option value="TOEIC">TOEIC</option>
															<option value="TOEIC Speaking">TOEIC Speaking</option>
															<option value="G-TELP Speaking">TOEIC Writing</option>
															<option value="G-TELP Speaking">무역영어</option>
														</select>
													</div>
												</li>
											</ul>
										</div>
										<div class="col-lg-6 mt10">
											<ul class="s-d-2">
												<li class="f14">점수</li>
												<li>
													<input type="text" class="inType01 w180"  >
												</li>
											</ul>
										</div>
										<div class="col-lg-6 mt10">
											<ul class="s-d-2">
												<li class="f14">등급</li>
												<li>
													<input type="text" class="inType01 w180"  >
												</li>
											</ul>
										</div>
									</div>
									<div class="row mt10">
										<div class="col-lg-6">
											<ul class="s-d-2">
												<li class="f14">발급번호</li>
												<li>
													<input type="text" class="inType01 w180"  >
												</li>
											</ul>
										</div>
										<div class="col-lg-6 ">
											<ul class="s-d-2 day">
												<li class="f14">취득일</li>
												<li>
													<div class="custom-sel------- scroll">
														 <select class="base">
															<option value="년도">년도</option>
															<option value="2022">2022</option>
															<option value="2021">2021</option>
															<option value="2020">2020</option>
															<option value="2019">2019</option>
															<option value="2018">2018</option>
															<option value="2018">2017</option>
															<option value="2018">2016</option>
														  </select>
														</div>
													</li>
												<li>
													<div class="custom-sel------- scroll">
														<select class="base">
															<option value="월">월</option>
															<option value="12">12</option>
															<option value="11">11</option>
															<option value="10">10</option>
															<option value="09">09</option>
															<option value="08">08</option>
															<option value="07">07</option>
															<option value="06">06</option>
															<option value="05">05</option>
															<option value="04">04</option>
															<option value="03">03</option>
															<option value="02">02</option>
															<option value="01">01</option>
														</select>
													</div>
												</li>
												<li>
													<div class="custom-sel------ scroll">
														<select class="base">
															<option value="일">일</option>
															<option value="12">12</option>
															<option value="11">11</option>
															<option value="10">10</option>
															<option value="09">09</option>
															<option value="08">08</option>
															<option value="07">07</option>
															<option value="06">06</option>
															<option value="05">05</option>
															<option value="04">04</option>
															<option value="03">03</option>
															<option value="02">02</option>
															<option value="01">01</option>
														</select>
													</div>
												</li>
											</ul>
										</div>
									</div>
									<div class="row mt10">
										<div class="col-lg-6">
											<ul class="s-d-2">
												<li class="f14">회화</li>
												<li class="btn-acc2">
													<button>상</button>
													<button>중</button>
													<button>하</button>
												</li>
											</ul>
										</div>
										<div class="col-lg-6">
											<ul class="s-d-2">
												<li class="f14">작문</li>
												<li class="btn-acc2">
													<button>상</button>
													<button>중</button>
													<button>하</button>
												</li>
											</ul>
										</div>
									</div>
									<div class="row mt10">
										<div class="col-lg-6">
											<ul class="s-d-2">
												<li class="f14">독해</li>
												<li class="btn-acc2">
													<button>상</button>
													<button>중</button>
													<button>하</button>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<input class="inputDel3" type="image" value="삭제" onclick="remove_item1(this)" th:src="@{/img/ico_inputDel2.png}" >
							</div>	
							<!-- //(1)어학 COPY -->



							<!-- (2)IT -->
							<p class="f23 fw600 mt80 pr">IT 능력<input type="image" class="selPlus" value=" 추가 " onclick="add_item2()" th:src="@{/img/ico_plus.png}"></p>
							<div id="field2"> 
								<div class="r-box mt20">
									<div class="row">
										<div class="col-lg-12 ">
											<ul class="s-d-2">
												<li class="f14">S/W명</li>
												<li>
													<input type="text" class="inType01 w180"  >
												</li>
												<li class="btn-acc2 ml10">
													<button>상</button>
													<button>중</button>
													<button>하</button>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div><!-- field2 -->
							<!-- (2)IT COPY -->
							<div id="pre_set2" style="display:none">
								<div class="r-box mt20">
									<div class="row">
										<div class="col-lg-12 ">
											<ul class="s-d-2">
												<li class="f14">S/W명</li>
												<li>
													<input type="text" class="inType01 w180"  >
												</li>
												<li class="btn-acc2 ml10">
													<button>상</button>
													<button>중</button>
													<button>하</button>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<input class="inputDel3" type="image" value="삭제" onclick="remove_item2(this)" th:src="@{/img/ico_inputDel2.png}" >
							</div>	
							<!-- //(2)IT COPY -->
							<!-- (3)자격 및 면허 -->
							<p class="f23 fw600 mt80 pr">자격 및 면허<input type="image" class="selPlus" value=" 추가 " onclick="add_item3()" th:src="@{/img/ico_plus.png}"></p>
							<div id="field3"> 
								<div class="r-box mt20">
									<div class="row">
										<div class="col-lg-6">
											<ul class="s-d-2">
												<li class="f14">자격증 명</li>
												<li>
													<input type="text" class="inType01 w180"  >
												</li>
											</ul>
										</div>
										<div class="col-lg-6 ">
											<ul class="s-d-2">
												<li class="f14">발급기관</li>
												<li>
													<input type="text" class="inType01 w180"  >
												</li>
											</ul>
										</div>
										<div class="col-lg-6 mt10">
											<ul class="s-d-2">
												<li class="f14">발급번호</li>
												<li>
													<input type="text" class="inType01 w180"  >
												</li>
											</ul>
										</div>
										<div class="col-lg-6 mt10">
											<ul class="s-d-2 day">
												<li class="f14">취득일</li>
												<li>
													
													<div class="custom-sel------- scroll">
													 <select class="base">
														<option value="년도">년도</option>
														<option value="2022">2022</option>
														<option value="2021">2021</option>
														<option value="2020">2020</option>
														<option value="2019">2019</option>
														<option value="2018">2018</option>
														<option value="2018">2017</option>
														<option value="2018">2016</option>
													  </select>
													</div>
												</li>	
												<li>
													<div class="custom-sel------- scroll">
														<select class="base">
															<option value="월">월</option>
															<option value="12">12</option>
															<option value="11">11</option>
															<option value="10">10</option>
															<option value="09">09</option>
															<option value="08">08</option>
															<option value="07">07</option>
															<option value="06">06</option>
															<option value="05">05</option>
															<option value="04">04</option>
															<option value="03">03</option>
															<option value="02">02</option>
															<option value="01">01</option>
														</select>
													</div>
												</li>
												<li>
													<div class="custom-sel------ scroll">
														<select class="base">
															<option value="일">일</option>
															<option value="12">12</option>
															<option value="11">11</option>
															<option value="10">10</option>
															<option value="09">09</option>
															<option value="08">08</option>
															<option value="07">07</option>
															<option value="06">06</option>
															<option value="05">05</option>
															<option value="04">04</option>
															<option value="03">03</option>
															<option value="02">02</option>
															<option value="01">01</option>
														</select>
													</div>
												</li>
											</ul>
										</div>
									</div> 
								</div>
							</div><!-- field3 -->
							<!-- (3)자격 및 면허 COPY -->
							<div id="pre_set3" style="display:none">
								<div class="r-box mt20">
									<div class="row">
										<div class="col-lg-6">
											<ul class="s-d-2">
												<li class="f14">자격증 명</li>
												<li>
													<input type="text" class="inType01 w180"  >
												</li>
											</ul>
										</div>
										<div class="col-lg-6 ">
											<ul class="s-d-2">
												<li class="f14">발급기관</li>
												<li>
													<input type="text" class="inType01 w180"  >
												</li>
											</ul>
										</div>
										<div class="col-lg-6 mt10">
											<ul class="s-d-2">
												<li class="f14">발급번호</li>
												<li>
													<input type="text" class="inType01 w180"  >
												</li>
											</ul>
										</div>
										<div class="col-lg-6 mt10">
											<ul class="s-d-2 day">
												<li class="f14">취득일</li>
												<li>
													<div class="custom-sel------- scroll">
													 <select class="base">
														<option value="년도">년도</option>
														<option value="2022">2022</option>
														<option value="2021">2021</option>
														<option value="2020">2020</option>
														<option value="2019">2019</option>
														<option value="2018">2018</option>
														<option value="2018">2017</option>
														<option value="2018">2016</option>
													  </select>
													</div>
												</li>
												<li>
													<div class="custom-sel------- scroll">
														<select class="base">
															<option value="월">월</option>
															<option value="12">12</option>
															<option value="11">11</option>
															<option value="10">10</option>
															<option value="09">09</option>
															<option value="08">08</option>
															<option value="07">07</option>
															<option value="06">06</option>
															<option value="05">05</option>
															<option value="04">04</option>
															<option value="03">03</option>
															<option value="02">02</option>
															<option value="01">01</option>
														</select>
													</div>
												</li>
												<li>
													<div class="custom-sel------ scroll">
														<select class="base">
															<option value="일">일</option>
															<option value="12">12</option>
															<option value="11">11</option>
															<option value="10">10</option>
															<option value="09">09</option>
															<option value="08">08</option>
															<option value="07">07</option>
															<option value="06">06</option>
															<option value="05">05</option>
															<option value="04">04</option>
															<option value="03">03</option>
															<option value="02">02</option>
															<option value="01">01</option>
														</select>
													</div>
												</li>
											</ul>
										</div>
									</div> 
								</div>
								<input class="inputDel3" type="image" value="삭제" onclick="remove_item3(this)" th:src="@{/img/ico_inputDel2.png}" >
							</div>	
							<!-- //(3)자격 및 면허 COPY -->


							<!-- (4)수상경력 -->
							<p class="f23 fw600 mt80 pr">수상경력<input type="image" class="selPlus" value=" 추가 " onclick="add_item4()" th:src="@{/img/ico_plus.png}"></p>
							<div id="field4"> 
								<div class="r-box mt20">
									<div class="row">
										<div class="col-lg-6">
											<ul class="s-d-2">
												<li class="f14">수상단체</li>
												<li>
													<input type="text" class="inType01 w180"  >
												</li>
											</ul>
										</div>
										<div class="col-lg-6 ">
											<ul class="s-d-2">
												<li class="f14">수상일자</li>
												<li>
													<div class="custom-sel------- scroll">
													 <select class="base">
														<option value="년도">년도</option>
														<option value="2022">2022</option>
														<option value="2021">2021</option>
														<option value="2020">2020</option>
														<option value="2019">2019</option>
														<option value="2018">2018</option>
														<option value="2018">2017</option>
														<option value="2018">2016</option>
													  </select>
													</div>
												</li>
												<li>
													<div class="custom-sel------- scroll">
														<select class="base">
															<option value="월">월</option>
															<option value="12">12</option>
															<option value="11">11</option>
															<option value="10">10</option>
															<option value="09">09</option>
															<option value="08">08</option>
															<option value="07">07</option>
															<option value="06">06</option>
															<option value="05">05</option>
															<option value="04">04</option>
															<option value="03">03</option>
															<option value="02">02</option>
															<option value="01">01</option>
														</select>
													</div>
												</li>
												<li>
													<div class="custom-sel------ scroll">
														<select class="base">
															<option value="일">일</option>
															<option value="12">12</option>
															<option value="11">11</option>
															<option value="10">10</option>
															<option value="09">09</option>
															<option value="08">08</option>
															<option value="07">07</option>
															<option value="06">06</option>
															<option value="05">05</option>
															<option value="04">04</option>
															<option value="03">03</option>
															<option value="02">02</option>
															<option value="01">01</option>
														</select>
													</div>
												</li>
											</ul>
										</div>
										<div class="col-lg-12 mt10">
											<ul class="s-d-2">
												<li class="f14">수상내용</li>
												<li>
													<input type="text" class="inType01 w631"  >
												</li>
											</ul>
										</div>
									</div> 
								</div>
							</div><!-- field4 -->
							<!-- (4)수상경력 COPY -->
							<div id="pre_set4" style="display:none">
								<div class="r-box mt20">
									<div class="row">
										<div class="col-lg-6">
											<ul class="s-d-2">
												<li class="f14">수상단체</li>
												<li>
													<input type="text" class="inType01 w180"  >
												</li>
											</ul>
										</div>
										<div class="col-lg-6 ">
											<ul class="s-d-2 day">>
												<li class="f14">수상일자</li>
												<li>
													<div class="custom-sel------- scroll">
													 <select class="base">
														<option value="년도">년도</option>
														<option value="2022">2022</option>
														<option value="2021">2021</option>
														<option value="2020">2020</option>
														<option value="2019">2019</option>
														<option value="2018">2018</option>
														<option value="2018">2017</option>
														<option value="2018">2016</option>
													  </select>
													</div>
												</li>
												<li>
													<div class="custom-sel------- scroll">
														<select class="base">
															<option value="월">월</option>
															<option value="12">12</option>
															<option value="11">11</option>
															<option value="10">10</option>
															<option value="09">09</option>
															<option value="08">08</option>
															<option value="07">07</option>
															<option value="06">06</option>
															<option value="05">05</option>
															<option value="04">04</option>
															<option value="03">03</option>
															<option value="02">02</option>
															<option value="01">01</option>
														</select>
													</div>
												</li>
												<li>
													<div class="custom-sel------ scroll">
														<select class="base">
															<option value="일">일</option>
															<option value="12">12</option>
															<option value="11">11</option>
															<option value="10">10</option>
															<option value="09">09</option>
															<option value="08">08</option>
															<option value="07">07</option>
															<option value="06">06</option>
															<option value="05">05</option>
															<option value="04">04</option>
															<option value="03">03</option>
															<option value="02">02</option>
															<option value="01">01</option>
														</select>
													</div>
												</li>
											</ul>
										</div>
										<div class="col-lg-12 mt10">
											<ul class="s-d-2">
												<li class="f14">수상내용</li>
												<li>
													<input type="text" class="inType01 w631"  >
												</li>
											</ul>
										</div>
										
									</div> 
								</div>
								<input class="inputDel3" type="image" value="삭제" onclick="remove_item4(this)" th:src="@{/img/ico_inputDel2.png}" >
							</div>	
							<!-- //(4)자격 및 면허 COPY -->


							<!-- (5)해외연수/대외활동 -->
							<p class="f23 fw600 mt80 pr">해외연수/대외활동<input type="image" class="selPlus" value=" 추가 " onclick="add_item5()" th:src="@{/img/ico_plus.png}"></p>
							<div id="field5"> 
								<div class="r-box mt20">
									<div class="row">
										<div class="col-lg-6">
											<ul class="s-d-2">
												<li class="f14">국가명/활동명</li>
												<li>
													<input type="text" class="inType01 w180"  >
												</li>
											</ul>
										</div>
										<div class="col-lg-12 mt10">
											<ul class="s-d-2 day">
												<li class="f14">연수기간</li>
												<li>
													<div class="custom-sel------- scroll">
													 <select class="base">
														<option value="년도">년도</option>
														<option value="2022">2022</option>
														<option value="2021">2021</option>
														<option value="2020">2020</option>
														<option value="2019">2019</option>
														<option value="2018">2018</option>
														<option value="2018">2017</option>
														<option value="2018">2016</option>
													  </select>
													</div>
												</li>
												<li>
													<div class="custom-sel------- scroll">
														<select class="base">
															<option value="월">월</option>
															<option value="12">12</option>
															<option value="11">11</option>
															<option value="10">10</option>
															<option value="09">09</option>
															<option value="08">08</option>
															<option value="07">07</option>
															<option value="06">06</option>
															<option value="05">05</option>
															<option value="04">04</option>
															<option value="03">03</option>
															<option value="02">02</option>
															<option value="01">01</option>
														</select>
													</div>
												</li>
												
												<li class="ml20 mr20"> - </li>
												<li>
													<div class="custom-sel------- scroll">
													 <select class="base">
														<option value="년도">년도</option>
														<option value="2022">2022</option>
														<option value="2021">2021</option>
														<option value="2020">2020</option>
														<option value="2019">2019</option>
														<option value="2018">2018</option>
														<option value="2018">2017</option>
														<option value="2018">2016</option>
													  </select>
													</div>
												</li>
												<li>
													<div class="custom-sel------- scroll">
														<select class="base">
															<option value="월">월</option>
															<option value="12">12</option>
															<option value="11">11</option>
															<option value="10">10</option>
															<option value="09">09</option>
															<option value="08">08</option>
															<option value="07">07</option>
															<option value="06">06</option>
															<option value="05">05</option>
															<option value="04">04</option>
															<option value="03">03</option>
															<option value="02">02</option>
															<option value="01">01</option>
														</select>
													</div>
												</li>
												
											</ul>
										</div>
										<div class="col-lg-12 mt10">
											<ul class="s-d-2">
												<li class="f14">수상내용</li>
												<li>
													<input type="text" class="inType01 w631"  >
												</li>
											</ul>
										</div>
										
									</div> 
								</div>
							</div><!-- field5 -->
							<!-- (5)해외연수/대외활동 COPY -->
							<div id="pre_set5" style="display:none">
								<div class="r-box mt20">
									<div class="row">
										<div class="col-lg-6">
											<ul class="s-d-2">
												<li class="f14">국가명/활동명</li>
												<li>
													<input type="text" class="inType01 w180"  >
												</li>
											</ul>
										</div>
										<div class="col-lg-12 mt10">
											<ul class="s-d-2">
												<li class="f14">연수기간</li>
												<li>
													<div class="custom-sel------- scroll">
													 <select class="base">
														<option value="년도">년도</option>
														<option value="2022">2022</option>
														<option value="2021">2021</option>
														<option value="2020">2020</option>
														<option value="2019">2019</option>
														<option value="2018">2018</option>
														<option value="2018">2017</option>
														<option value="2018">2016</option>
													  </select>
													</div>
												</li>
												<li>
													<div class="custom-sel------- scroll">
														<select class="base">
															<option value="월">월</option>
															<option value="12">12</option>
															<option value="11">11</option>
															<option value="10">10</option>
															<option value="09">09</option>
															<option value="08">08</option>
															<option value="07">07</option>
															<option value="06">06</option>
															<option value="05">05</option>
															<option value="04">04</option>
															<option value="03">03</option>
															<option value="02">02</option>
															<option value="01">01</option>
														</select>
													</div>
												</li>
												
												<li class="ml20 mr20"> - </li>
												<li>
													<div class="custom-sel------- scroll">
													 <select class="base">
														<option value="년도">년도</option>
														<option value="2022">2022</option>
														<option value="2021">2021</option>
														<option value="2020">2020</option>
														<option value="2019">2019</option>
														<option value="2018">2018</option>
														<option value="2018">2017</option>
														<option value="2018">2016</option>
													  </select>
													</div>
												</li>
												<li>
													<div class="custom-sel------- scroll">
														<select class="base">
															<option value="월">월</option>
															<option value="12">12</option>
															<option value="11">11</option>
															<option value="10">10</option>
															<option value="09">09</option>
															<option value="08">08</option>
															<option value="07">07</option>
															<option value="06">06</option>
															<option value="05">05</option>
															<option value="04">04</option>
															<option value="03">03</option>
															<option value="02">02</option>
															<option value="01">01</option>
														</select>
													</div>
												</li>
												
											</ul>
										</div>
										<div class="col-lg-12 mt10">
											<ul class="s-d-2">
												<li class="f14">수상내용</li>
												<li>
													<input type="text" class="inType01 w631"  >
												</li>
											</ul>
										</div>
										
									</div> 
								</div>
								<input class="inputDel3" type="image" value="삭제" onclick="remove_item5(this)" th:src="@{/img/ico_inputDel2.png}" >
							</div>	
							<!-- //(5)해외연수/대외활동 COPY -->

							
							
							<div class="w100 mt30">
								<a href="write02.html"><p class="f_left f20"><img th:src="@{/img/btn_prev.png}" alt="다음" /> 학력정보</p></a>
								<a href="write04.html"><p class="f_right f20">경력사항 <img th:src="@{/img/btn_next.png}" alt="다음" /></p></a>
							</div>
						</div><!-- //wrap860 -->
					</div><!-- //memberWrapBase -->
				</div><!-- //container1300 -->
			</div><!-- //container100 -->
		</section>
		<!-- ================================ 
				// Content 
		================================ -->
	</div><!-- //wrap bg_01 -->



	<!-- ================================ 
				Popup 
	================================ -->
	<!-- popup -->
	<div id="pop_dropOut"  style="display:none;">
		<div class="popBasePW" cellspacing="0"  summary="타이틀">
	
			<p class="f23 fw600">학교검색</p>
			
			<p class="btn_pop_close"><a href="#pop_dropOut"><img th:src="@{/img/btn_popClose.png}" alt="닫기" /></a></p>
			<p class="f14 fw400 mt40">학교명</p>
			<div class="search_school ">
				<fieldset class="search">
                <legend>검색</legend>
                   <input type="text" class="ss_inType mt20" placeholder="학교명을 2자 이상 입력해주세요."><a href="javascript:fnSearch();" title="검색"><img class="ico_search2" th:src="@{/img/ico_search.png}" alt="학교명 검색"></a>
                </fieldset>
				<ul class="ss_ul mt10">
					<li><a href="">건국대학교 - 서울캠퍼스(서울)</a></li>
					<li><a href="">경기대학교 - 서울캠퍼스(서울)</a></li>
					<li><a href="">경희대학교 - 서울캠퍼스(서울)</a></li>
					<li><a href="">경희대학교 경영대학원 - 서울(서울)</a></li>
					<li><a href="">경희대학교 일반대학원 - 서울캠퍼스(서울)</a></li>
					<li><a href="">남서울대학교(충남)</a></li>
					<li><a href="">남서울대학교 대학원(충남)</a></li>
					<li><a href="">남서울대학교 일반대학원(충남)</a></li>
					<li><a href="">남서울대학교 특수대학원(충남)</a></li>
					<li><a href="">남서울대학교 특수대학원(산업대)(충남)</a></li>
					<li><a href="">남서울대학교(산업대)(충남)</a></li>
					<li><a href="">남서울예술종합학교(해외)</a></li>
					<li><a href="">단국대학교 - 서울캠퍼스(서울)</a></li>
					<li><a href="">동국대학교 - 서울캠퍼스(서울)</a></li>
					<li><a href="">동서울대학 평생교육원(경기)</a></li>
					<li><a href="">동서울대학교(경기)</a></li>
					<li><a href="">동서울대학교(경기)</a></li>
					<li><a href="">디지털서울문화예술대학교(서울)</a></li>
					<li><a href="">상명대학교 - 서울캠퍼스(서울)</a></li>
					<li><a href="">서울과학기술대학교(서울)</a></li>
					<li><a href="">서울과학기술대학교 IT정책전문대학원(서울)</a></li>
					<li><a href="">서울과학기술대학교 IT정책전문대학원(서울)</a></li>
					<li><a href="">서울과학기술대학교 IT정책전문대학원(산업대)(서울)</a></li>
				</ul>
				<p class="f14 mt30">찾으시는 결과가 없나요? <b>직접입력</b></p>
				<input type="text" class="ss_inType mt10" >
				<p class="mt40 btn_type05"><a href="#">등록</a></p>
			</div>
			
		</div>
	</div>
	<!-- //popup -->


	<script th:src="@{/common/js/modality.js}"></script>
	<!-- 팝업 script -->
	<script>
		var modal1 = Modality.init('#pop_dropOut ', {effect: 'slide-up'}); //회원탈퇴주의사항
	</script>
	<!-- //팝업 script -->

<!-- ================================ Footer ================================ -->
<footer class="container100 center bgGray" th:replace="fragments/mainFooter :: footerFragment"></footer>
<!-- ================================ // Footer ================================ -->
</body>
</html>