<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<title>정식품 채용</title>
<head th:replace="fragments/head :: headFragment"></head>
<!-- add css -->
	<link rel="stylesheet" href="https://cdn.rawgit.com/filamentgroup/fixed-sticky/master/fixedsticky.css">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"><!-- aos animation -->
	<!-- add js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://cdn.rawgit.com/filamentgroup/fixed-sticky/master/fixedsticky.js"></script>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script><!-- aos animation -->
<body>
	<div class="wrap">
		<!-- ================================ Header ================================ -->
		<header class="subColor" th:replace="fragments/mainHeader :: headerFragment"></header>
		<!-- ================================ // Header ================================ -->

		<!-- ================================ Content ================================ -->
		<section>
			<div class="container100 subTop600 bgGray3">
				<div class="container1300 center ">
					<div data-aos="fade-right" data-aos-delay="900" data-aos-duration="800">
						<p class="bene_ani01"><img th:src="@{/img/bene_ani01.png}" alt="녹색삼각"/></p>
					</div>
					<div data-aos="fade-left" data-aos-delay="1500" data-aos-duration="800">
						<p class="bene_ani02"><img th:src="@{/img/bene_ani02.png}" alt="파란공"/></p>
					</div>
					<div data-aos="fade-left" data-aos-delay="1700" data-aos-duration="800">
						<p class="bene_ani03"><img th:src="@{/img/bene_ani03.png}" alt="빨간네모"/></p>
					</div>
					<div data-aos="fade-left" data-aos-delay="1000" data-aos-duration="800">
						<p class="bene_ani04"><img th:src="@{/img/bene_ani04.png}" alt="사람"/></p>
					</div>
					<div data-aos="fade-left" data-aos-delay="1100" data-aos-duration="800">
						<p class="bene_ani05"><img th:src="@{/img/bene_ani05.png}" alt="구름1"/></p>
					</div>
					<div data-aos="fade-left" data-aos-delay="1200" data-aos-duration="800">
						<p class="bene_ani06"><img th:src="@{/img/bene_ani06.png}" alt="구름2"/></p>
					</div>
					<div data-aos="fade-right" data-aos-delay="500" data-aos-duration="800">
						<p class="bene_ani07"><img th:src="@{/img/bene_ani07.png}" alt="정보"/></p>
					</div>
					<div data-aos="fade-right" data-aos-delay="200" data-aos-duration="800">
						<p class="bene_ani08 f44 fw600 line-height130">
						정식품은 행복하고 안정적인 삶을 <br>
						영위할 수 있도록 다양한 복리후생제도를 <br>
						지원하고 있습니다.
						</p>
					</div>
					<script>
					  AOS.init();
					</script>
				</div>
			</div>
			<div class="container100">
				<div class="nav">
					<div class="container1300 center">
						<a href="/"><span class="round">HOME</span></a><img class="arrow" th:src="@{/img/arrow.png}" alt="화살표" /><a href="/info/benefit"><span class="round">복지제도</span></a>
					</div>
				</div>
				<div class="container1300 center" >
					<div class="memberWrapBase">
						<div class="row">
							<div class="col-lg-4">
								<a href="#">
									<div class="myTitle">
										<p class="f26 fw600 line-height140 white">지금 올라온 공고가 <br>궁금하다면 <span class="italic">?</span></p>
										<p class="f16 fw300 mt20 white">공고 보러가기 <img class="ml5" th:src="@{/img/ico_w_arrow.png}" alt=""/></p>
										<p class="beneman"><img th:src="@{/img/bene_man.png}" alt="벨" /></p>										
									</div>
								</a>
							</div>
							<div class="col-lg-8">
								<div class="row">
									<div class="col-lg-12">
										<div class="bene_gray_top">
											<ul>
												<li><img th:src="@{/img/bene01.png}" alt="급여" /> <span class="f20 fw600">급여</span></li>
												<li><img th:src="@{/img/bene02.png}" alt="상여" /> <span class="f20 fw600">상여</span></li>
												<li><img th:src="@{/img/bene03.png}" alt="하계휴가비" /> <span class="f20 fw600">하계휴가비</span></li>
												<li><img th:src="@{/img/bene04.png}" alt="연차수당" /> <span class="f20 fw600">연차수당</span></li>
											</ul>
										</div>
									</div>
									<div class="col-lg-12">
										<div class="bell mt70">
											<p class="title_bell"><img th:src="@{/img/title_bell.png}" alt="벨" /></p>
											<ul><li></li><li>복리후생</li><li></li></ul>
										</div>
									</div>
									<div class="col-lg-6 mt70">
										<div class="bene_gray">
											<p class="f20 fw600">자녀학자금지원(대학교)</p>
											<p class="f16 fw400 line-height140 mt20 h80">대학, 대학교에 재학중인 자녀를 둔<br>임직원에게 학자금을 지원합니다.</p>
											<p class="bene_img_ab"><img th:src="@{/img/bene05.png}" alt="학자금" /></p>
										</div>
									</div>
									<div class="col-lg-6 mt70">
										<div class="bene_gray">
											<p class="f20 fw600">유아자녀 지원금</p>
											<p class="f16 fw400 line-height140 mt20 h80">만 4세- 6세 유아 자녀를 둔 임직원에게 유아지원금을 지원합니다.</p>
											<p class="bene_img_ab"><img th:src="@{/img/bene06.png}" alt="유아지원금" /></p>
										</div>
									</div>
									<div class="col-lg-6 mt20">
										<div class="bene_gray">
											<p class="f20 fw600">경조금 및 경조휴가</p>
											<p class="f16 fw400 line-height140 mt20 h80">경조사 발생 시 축하와 조의의 <br>마음을 전하고자 경조휴가와 함께 <br>경조사비/화환 등을 제공합니다.</p>
											<p class="bene_img_ab"><img th:src="@{/img/bene07.png}" alt="경조사" /></p>
										</div>
									</div>
									<div class="col-lg-6 mt20">
										<div class="bene_gray">
											<p class="f20 fw600">동호회지원</p>
											<p class="f16 fw400 line-height140 mt20 h80">동호회로 취미가 비슷한 임직원과<br>만날 수 있으며, 활발한 동호회 활동을 위해<br>지원비를 제공합니다.</p>
											<p class="bene_img_ab"><img th:src="@{/img/bene08.png}" alt="동호회" /></p>
										</div>
									</div>
									<div class="col-lg-6 mt20">
										<div class="bene_gray">
											<p class="f20 fw600">근로자의 날 선물</p>
											<p class="f16 fw400 line-height140 mt20 h80">열심히 일한 임직원를 위해 근로자의 날 선물을 지급합니다.</p>
											<p class="bene_img_ab"><img th:src="@{/img/bene09.png}" alt="선물" /></p>
										</div>
									</div>
									<div class="col-lg-6 mt20">
										<div class="bene_gray">
											<p class="f20 fw600">장기근속 및 우수사원 포상</p>
											<p class="f16 fw400 line-height140 mt20 h80">장기근속 바쁘게 달려온 임직원을 위해 <br>포상 지원금을 드립니다. 또한 한해<br>우수사원에게 포상금도 드립니다.</p>
											<p class="bene_img_ab"><img th:src="@{/img/bene10.png}" alt="포상" /></p>
										</div>
									</div>
									<div class="col-lg-6 mt20">
										<div class="bene_gray">
											<p class="f20 fw600">복지포인트</p>
											<p class="f16 fw400 line-height140 mt20 h80">임직원들을 위한 베네핏!<br>연 50만원 이데이몰 복지포인트를 지급합니다.</p>
											<p class="bene_img_ab"><img th:src="@{/img/bene11.png}" alt="베네핏!" /></p>
										</div>
									</div>
									<div class="col-lg-6 mt20">
										<div class="bene_gray">
											<p class="f20 fw600">휴양시설 운영</p>
											<p class="f16 fw400 line-height140 mt20 h80">국내 호텔/리조트를 기업 할인가로<br>즐길 수 있으며 임직원의 충분한 휴식을 위해<br>휴양지 지원금을 지급합니다.</p>
											<p class="bene_img_ab"><img th:src="@{/img/bene12.png}" alt="호텔/리조트" /></p>
										</div>
									</div>
									<div class="col-lg-6 mt20">
										<div class="bene_gray">
											<p class="f20 fw600">단체상해보험</p>
											<p class="f16 fw400 line-height140 mt20 h80">임직원을 위한 보험료와 <br>실손의료비를 지원합니다.</p>
											<p class="bene_img_ab"><img th:src="@{/img/bene13.png}" alt="실손의료비" /></p>
										</div>
									</div>
									<div class="col-lg-6 mt20">
										<div class="bene_gray">
											<p class="f20 fw600">생일자 선물</p>
											<p class="f16 fw400 line-height140 mt20 h80">임직원 생일자에게 선물을<br> 제공하고 있습니다.</p>
											<p class="bene_img_ab"><img th:src="@{/img/bene14.png}" alt="생일" /></p>
										</div>
									</div>
								</div>
							</div><!-- //col-lg-7 -->
						</div><!-- //row -->

					</div><!-- //memberWrapBase -->
				</div><!-- //container1300 -->
			</div><!-- //container100 -->
		</section>
		<!-- ================================ 
				// Content 
		================================ -->
	</div><!-- //wrap bg_01 -->

<!-- ================================ Footer ================================ -->
<footer class="container100 center bgGray" th:replace="fragments/mainFooter :: footerFragment"></footer>
<!-- ================================ // Footer ================================ -->
</body>
</html>