<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<title>정식품 채용</title>
<head th:replace="fragments/head :: headFragment"></head>
<!-- add css -->
<link th:href="@{common/css/modality.css}" rel="stylesheet">
<link rel='stylesheet' href='https://cdn.rawgit.com/filamentgroup/fixed-sticky/master/fixedsticky.css'>
<!-- add js -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdn.rawgit.com/filamentgroup/fixed-sticky/master/fixedsticky.js'></script>
<script th:inline="javascript">
	$(document).ready(function(){
		$( '.sidebar' ).fixedsticky();
	});
</script>
<body>
	<div class="wrap">
		<!-- ================================ Header ================================ -->
		<header class="subColor" th:replace="fragments/mainHeader :: headerFragment"></header>
		<!-- ================================ // Header ================================ -->
		<!-- ================================ Content ================================ -->
		<section>
			<div class="container100">
				<div class="nav">
					<div class="container1300 center">
						<a href="#"><span class="round">HOME</span></a><img class="arrow" th:src="@{/img/arrow.png}" alt="화살표" /><a href="#"><span class="round">신규지원자 등록</span></a>
					</div>
				</div>
				<div class="container100" >
					<div class="memberWrapBase text-center bgSky">
					<form id="emailForm" class="form-horizontal form-view" th:action="@{/member/sendAuthmail}" th:object="${member}">
						<p class="mt50"><img th:src="@{/img/ico_join_c.png}"/></p>
						<p class="f36 fw600 mt50 line-height120 ls-2">관리자 등록 완료</p>
						<p class="f20 fw400 line-height140 mt30">입력하신 이메일 계정으로 인증메일이 발송되었습니다.</p>
						<p class="f16 fw400 gray line-height140 mt30">메일함을 확인하여 인증하기 버튼을 눌러 주세요<br><b class="black">7일</b> 이내에 인증을 완료하지 않을 경우 계정정보가 삭제 됩니다.</p>
						<ul class="sendUL2">
							<li class="fw400 text-left f16 gray"><img class="arrow" th:src="@{/img/ico_wb.png}" alt="화살표" /> 인증메일이 확인되지 않는 경우, 메일 재전송 버튼을 눌러 주세요.</li>
						</ul>
						<div class="mt30">
							<input type="hidden" th:field="*{emailAddr}" />
							<input type="hidden" th:field="*{auth}" />
							<!-- 로그인 통해서 고객정보 던진후 메일발송 -->
							<button type="button" onclick="sendAuthEmail()"  class="btn_type13 mt30 w230 mr5" >인증메일 재전송</button>
							<button type="button" class="btn_type14 mt30 w230 ml5" onclick="location.href='/admin/auth/login'">로그인</button>
						</div>
					</form>
					</div><!-- //memberWrapBase -->
				</div><!-- //container1300 -->
			</div><!-- //container100 -->
		</section>
		<!-- ================================ 
				// Content 
		================================ -->
	</div><!-- //wrap bg_01 -->

<!-- ================================ Footer ================================ -->
<footer class="container100 center bgGray" th:replace="fragments/mainFooter :: footerFragment"></footer>
<!-- ================================ // Footer ================================ -->
<script type="text/javascript">
    window.addEventListener('beforeunload', (event) => {
    	
    	//새로고침시 메인페이지로 이동
        location.href='/';
        // 대표적으로 Chrome에서는 returnValue 설정이 필요합니다.
        event.returnValue = '/member/login';
    });
    
    function sendAuthEmail() {

   		const uri = "email/sendAuthEmailJson";
   		
   		$.ajax({
   			url: uri,
   			type: "POST",
   			dataType: "json",
   			contentType: false,
      		processData: false,
            data: new FormData($("#emailForm")[0]),
   			success: function(response) {
   				if (response.result == false) {
   					alert("전송에 실패하였습니다.");
   					return false;
   				}
   				alert("전송 되었습니다.");
   				location.href='/admin/logout';
   			},
   			error: function(xhr, status, error) {
   				alert("에러가 발생하였습니다.");
   				return false;
   			}
   		});
   		
   	}
   	/*[- end of function -]*/
    
</script>
</body>
</html>